[2015-11-27 08:18] kohlhase opened #1 "add copyright statement and license"
I see that the Plugin-MWS license is public domain, is is OK to have a different license for this plugin? I would prefer GPL. Up till now I had the LPPL which would also be OK.

[2015-11-27 08:25] kohlhase opened #2 "sTeX profiles as resources here?"
Is it a good idea to put the sTeX profiles here into ```lib/LaTeXML/resources/profiles```?

[2015-11-27 08:31] kohlhase opened #3 "how to integrate XSLTs?"
I have copied the XSLTs over from sTeX, but they use the LaTeXML XSLTs. If I understand the idea of a plugin correctly, then the XSLTs will just be mixed into LaTeXML, so that finding them is not a problem?

[2015-11-27 08:38] kohlhase opened #4 "clean up schemata"
I have copied over the schemata, but I am not sure how to best organize things. They need work.

[2015-11-27 08:53] kohlhase opened #5 "new boilerplate"
We need to add boilerplates with copyright, origin, and licensing information to the binding files.

[2015-11-28 20:51] dginev commented on #1
You can specify any license for a plugin, they are independent entities from LaTeXML and are self-contained wrt licensing. Since I think I helped with the MWS plugin while I was at NIST, I kept it on the safe side and released anything I did at the time in the public domain.

You can even have a rather restrictive license in place, see for instance the SENNA plugin I had made a few years back:
* C

[2015-11-28 20:54] dginev commented on #3
Right, they should just work, since the LaTeXML xslts ought to be automatically detectable - that's a big part of the reason Bruce worked on the catalogue inclusions in the past.

[2015-11-28 21:02] dginev commented on #2
Yes, that's exactly right, you could consult the MWS plugin which also uses this technique

[2015-11-29 08:36] kohlhase commented on #1
thanks for the clarification, re-assigning to myself. I will use the lppl, that was what we used before.

[2015-11-29 08:36] kohlhase commented on #3
OK, thanks.

[2015-11-29 08:36] #3 closed

[2015-11-29 08:39] kohlhase commented on #2
copied there, thanks.

[2015-11-29 08:39] #2 closed

[2015-11-29 08:42] kohlhase opened #6 "how to use, deploy and test the plugin?"
I think I am nearing a first workable plugin, and I would like to try it out. Is it correct that I must
```make; make install``` and then I can just use it with
```latexml --profile=stex-modules.opt xxx.tex```
What is the role of ```cpanm```?

[2015-11-29 08:43] kohlhase commented on #6
And then how would I integrate this into the MMT-based workflows? How does the plugin know that it should use the KWARC branch? ...

[2015-11-29 09:30] kohlhase opened #7 "What to do with the experimental files from the sTeX distribution?"
I have a few parts of the sTeX distribution that I consider experimental. For instance ```sty/reqdoc``` or ```sty/physml``` and that I do not really want to be part of the distribution any more. What is best to do with them?

I might put them into their own repository/plugin?

[2015-11-29 10:01] kohlhase commented on #1
I have given a license. What about the copyright statement?

[2015-11-29 10:01] kohlhase commented on #5
done.

[2015-11-29 10:01] #5 closed

[2015-11-29 10:02] kohlhase commented on #6
do I understand correctly that we need to somehow submit the plugin for cpanm once it is ready?

[2015-11-29 10:07] kohlhase opened #8 "integrate KWARC branch into sTeX plugin"
Deyan said that he would work with Bruce to integrate the specifics of the KWARC branch of LaTeXML that cannot be overwritten by the plugin into the LaTeXML core, and then add the rest of the KWARC branch here, so that we can close the KWARC branch.

[2015-11-29 10:08] kohlhase opened #9 "we do not need the paths part in the profiles any more?"
is that correct in a plugin?

[2015-11-29 10:13] kohlhase opened #10 "integrate sTeX plugin into MMT/MathHub"
I guess we need to make a
* cpan module
* set up travis  for the plugin repository
* adapt lmh setup procedures (and remove the LaTeXML branch)
* ... what else? ...

[2015-11-29 15:50] dginev commented on #6
Right, the usual Perl incantations apply for the installation:
[code]

if one uses cpanm, there is a synonym for that that looks like:
[code]

Once installed, you should simply use LaTeXML as you showed.

To register the plugin centrally with CPAN, it indeed needs to be submitted, which I can either do for you, or you can obtain a PAUSEID and do by hand (the UI there is a bit arcane): http://pause

[2015-11-29 15:58] dginev commented on #7
I guess you could make a second plugin depending on this one, yes.

A different type of distinction is that the submission to CPAN is done via a make step that generates a manifest and then packs the repository into an archive that gets submitted. So you could take out all experimental files from the manifest and submit to CPAN only the core files. But that works only if the primary way of using s

[2015-11-29 15:59] dginev commented on #1
Unsure if a "copyright statement" is explicitly necessary. It's a usual addendum in the perldoc documentation, so we could always add a bit of perldoc to the .ltxml bindings - but that's optional.

[2015-11-29 16:01] dginev commented on #9
If you put all bindings under Package/ than the paths in the profiles are no longer necessary, correct. Neither will be the ```$STEXSTYDIR``` hack.

[2015-11-30 05:05] kohlhase commented on #9
OK, then I will simplify the profiles.

[2015-11-30 05:12] kohlhase commented on #9
I assume that we can also find the xslt and schema files.

[2015-11-30 05:12] #9 closed

[2015-11-30 05:17] kohlhase commented on #6
thanks for the instructions. If I understand correctly, then we should now test the plugin locally and when it runs, we can submit it to cpanm cental. I would like to take you up on your offer. to do that for me. What is the workflow for updating the plugin? Can I do that myself (or in fact @angerhang) after you registered?

[2015-11-30 05:18] kohlhase commented on #1
OK, then I guess the copyright statement in the headers is good enough.

[2015-11-30 05:18] #1 closed

[2015-11-30 05:53] kohlhase commented on #6
I still do not understand. I ran ```cpanm . ``` and that seemed to to something in the ```blib``` subdir (after I installed ```(local::lib)``` as it told me to. But how do I run ```latexmlc``` with that?

[2016-01-03 14:25] angerhang commented on #6
I followed Deyan's instructions and was able to run the plugin successfully by using
[code]
although there were a few test case failures which I don't know if they matter or not.

I ran `latexmlc` like the following after installed `(local::lib)`
[code]

[2016-01-03 14:31] dginev commented on #6
If there were any errors during ```cpanm .```, then the plugin failed to install - cpanm aborts installation on errors.

Looking at your example run, you indeed loaded the profile from the current directory (not from an installation cpanm directory), so latexmlc failed to load any real sTeX bindings in that run.

I haven't checked how far the plugin work has gone, but ```cpanm .``` should execute

[2016-01-03 14:35] dginev commented on #6
Btw, if either of you hasn't setup cpanm for non-root development before, this may be the easiest tutorial: http://privacygeek.blogspot.bg/2013/03/the-worlds-easiest-guide-to-installing.html

In essence, it all boils down to including the output of:
[code]

in your ~/.bashrc (or equivalent) file, so that Perl knows about the local user paths created by cpanm.

[2016-01-03 15:13] angerhang commented on #6
Thanks for the nice tutorial.

You are right, LaTeXML was loading from the current directory, because I was calling the latexml in the profiler directory. After I moved out, it seems to load properly. `cpanm` installed the plugin without any error. It was for KWARC's LaTeXML that I ran into some problems.

I think we are on the right track for testing
[code]

Also we still need to add a few more p

[2016-01-03 15:31] dginev commented on #6
Right, having sTeX in your texlive distro is bound to cause all kinds of problems when developing. If I were you I would remove that entirely:
[code]

If this plugin takes off, I'd hope that the LaTeXML bindings also don't get distributed with texlive, but via CPAN instead.

The missing packages seem to be the ones distributed under the ```etc/``` directory, which @kohlhase should advise whether t

[2016-01-05 08:47] kohlhase commented on #6
Indeed, this is exactly what I am hoping. This plugin is currently a bit behind the sTeX head, but if we can get it running in general, I will gladly update it and release the next sTeX version without the ltxml stuff. Then it will be only a couple of years until they disappear from the TeXLive wild.

[2016-01-13 07:28] kohlhase opened #11 "add sTeX tests"
We currently do not seem to have tests. But we should develop some. @dginev please advise

There seems to be an sTeX test in the KWARC branch of LaTeXML (```921_stex.t```), that should be moved to the plugin.

[2016-01-13 08:32] kohlhase commented on #11
I am starting two put tests files down in ```prototests/smglom``` and sister tests. This should eventually be made into real tests in the test harness.

[2016-01-13 08:36] kohlhase commented on #6
I seem to have also installed things and am testing with ```prototests/smglom``` (see #11). I will close here and put the rest of my problems into other issues.

[2016-01-13 08:36] #6 closed

[2016-01-13 08:41] kohlhase opened #12 "segfault with omdocpost.xsl"
When I convert  `prototest/smglom/foo.tex`, then I get

[code]

but `foo.xml.log` says `no obvious problems`.
But if I remove the line

[code]

from `stex-module.opt` and run `cpanm` again, things work out fine.
My suspicion is that `omdocpost.xsl` is not found. Assigning to @dginev, since I do not know how to debug. cc: @angerhang

[2016-01-13 08:43] kohlhase commented on #12
BTW, running ```omdocpost.xsl``` manually with
[code]
works fine.

[2016-01-13 09:26] kohlhase commented on #10
I am re-assigning this to Christian.

[2016-01-13 09:28] kohlhase commented on #10
The plugin seems to work in general (except for #12), so we can start making progress on this.
It would be good if @dginev could give advice here.
Once this works, I can remove the LaTeXML binding from the sTeX distribution and make a release for TeXLive. It would be good if we could do that before the end of Feb, so that that gets into TeXLive2016 so it can start percolating into distributions.

[2016-01-13 09:30] cmaeder commented on #10
OK, I'll start adding travis tests to this repo

[2016-01-13 09:31] kohlhase commented on #10
great.

[2016-01-13 16:24] dginev commented on #12
Usually this is an issue with the underlying libxml and libxslt. Could you try updating those? Also, can @angerhang reproduce this? If it's mac-specific we'll be in a bind.

[2016-01-14 06:54] kohlhase commented on #12
libxml and libxslt seem to be current with 1.1.28 and 2.9.3.

I think that @angerhang also has a mac.

@cmaeder, could you try to reproduce this problem on linux?

[2016-01-14 07:48] kohlhase commented on #12
@dginev Could it be that there is something else wrong (e.g. the stylesheet is not found?) After all, ```xsltproc``` works with the style sheet, and I do not seem to have problems with regular ```latexml``` that also uses a stylesheet.

[2016-01-14 09:27] cmaeder commented on #12
I currently have an initialization problem in `foo.xml.log`

[code]

[code]

[2016-01-14 09:28] cmaeder commented on #12
I'm using LateXML from https://github.com/KWARC/LaTeXML.git

[2016-01-14 09:40] cmaeder commented on #12
I works for me under linux (vivid) after setting STEXSTYDIR and TEXINPUTS

[code]

[2016-01-14 09:46] kohlhase commented on #12
I am not sure that you are actually using the plugin. Did you make a "local build"? Please have a look at #6 and make sure that you are testing with the local build.

[2016-01-14 09:49] cmaeder commented on #12
I made a `cpanm .` in LaTeXML-Plugin-sTeX but use `latexmlc` from my old installation.

[2016-01-14 09:53] cmaeder commented on #12
Right, the profile is loaded from `/var/data/localmh/ext/LaTeXML/blib/lib/LaTeXML/resources/Profiles/stex-module.opt...`

[2016-01-14 09:54] kohlhase commented on #12
yes, that is not what we want to test.

[2016-01-14 10:02] cmaeder commented on #12
`cpanm .` made nothing, so I supposed the LaTeXML dependency was fine. How do I convince latexml to use LaTeXML-Plugin-sTeX/lib/LaTeXML/resources/Profiles or force reinstallation of LaTeXML?

[2016-01-14 10:05] kohlhase commented on #12
I am not quite sure, I was quite brutal in doing this: I removed all old versions of LaTeXML I could find and, did the "local stuff" from #6  then redid the
[code]
there is probably a better way, but I do not quite know what it is.
You could also try on a virgin machine.

[2016-01-14 10:26] cmaeder commented on #12
Ok, my PERL5LIB was wrongly set to `/var/data/localmh/ext/LaTeXML/blib/lib`. If I set it to `/var/data/localmh/ext/perl5lib/lib/perl5` it picks up the newly installed stuff of LaTeXML-Plugin-sTeX.

I've also set `export PERL_CPANM_OPT=--local-lib=/var/data/localmh/ext/perl5lib`.

The example now works fine without TEXINPUTS and STEXSTYDIR set:

[code]

[2016-01-14 10:31] kohlhase commented on #12
OK, that is already good. But I just see that in ```lib/LaTeXML/resources/profiles/stex-module.opt```, the line with ```stylesheet=....``` is still commented out. Could you please change that, reinstall (```cpanm .```) and then test again?

[2016-01-14 10:33] kohlhase commented on #12
@dginev, no we would not really be in a bind, since at KWARC, we would mostly be using the plugin as part of LMH docker, where it runs under (virtual) linux (once we have integrated it; see #10).

[2016-01-14 11:03] cmaeder commented on #12
I have `libxslt.so.1.1.28` and `libxml2.so.2.9.2`

[2016-01-14 11:04] kohlhase commented on #12
yes, but does it still work after you turn on the stylesheet?

[2016-01-14 11:08] cmaeder commented on #12
Sorry, I was distracted. A line `stylesheet=` is entirely missing.

[2016-01-14 11:10] cmaeder commented on #12
Sorry again, only looked into `stexml-module.opt`

[2016-01-14 11:12] cmaeder commented on #12
works, too

[code]

[2016-01-14 11:13] kohlhase commented on #12
can you commit the generated XML, then I can have a look.

[2016-01-14 11:15] cmaeder commented on #12
done (but .gitignore may hide it)

[2016-01-14 11:56] kohlhase commented on #12
could you please also try making ```foo.en.xml```? Just to be sure.

[2016-01-14 12:12] cmaeder commented on #12
done

[2016-01-14 12:22] kohlhase commented on #12
thanks. I have tried this now (there was still an error in ```foo.en.tex``` and now I cannot reproduce the segfault any more. Closing. Thanks for all the help.

[2016-01-14 12:23] kohlhase commented on #10
#12 is fixed. So we should go full steam ahead with the integration.

[2016-01-14 12:26] cmaeder commented on #12
should `stex-module.opt` be committed with `stylesheet = omdocpost.xsl`?

[2016-01-14 12:28] kohlhase commented on #12
Ah, now I see that I had tested without the stylesheet, dang still gives me a segfault.

[2016-01-14 12:29] kohlhase commented on #12
I just committed. \

[2016-01-14 12:42] kohlhase commented on #7
How about another plugin: ```LaTeXML-Plugin-sTeX-experimental```, then I can just dump the files there and not lose them.

[2016-01-14 12:52] cmaeder commented on #7
[code]

worked quite well on a fresh machine. However, `cpanm` needs to be a new version that supports git clone (according to https://github.com/miyagawa/cpanminus/blob/devel/Changes I assume this is version 1.7039). Therefore I had to setup up cpanm before with:

[code]

A (further) `git clone https://github.com/KWARC/LaTeXML-Plugin-sTeX.git` was necessary to actually work with this repository.

[2016-01-14 13:04] kohlhase commented on #7
this is probably the wrong issue (did you mean #10 ?)

[2016-01-14 13:07] cmaeder commented on #7
Well, I thought, a CPAN submission is not that important.

[2016-01-14 13:30] kohlhase opened #13 "base sTeX Plugin on Bruce's LaTeXML"
Currently, sTeX needs the KWARC fork of LaTeXML (https://github.com/KWARC/LaTeXML), but with the plugin it should be possible to move the sTeX-specific peculiarities into the plugin, and (hopefully) get the rest accepted into LaTeXML proper so that we can retire the KWARC fork.
Deyan proposed this assigning to him. cc: @brucemiller

[2016-01-14 14:07] kohlhase commented on #10
I have moved out some of the files that do not really belong into the sTeX plugin into the LaTeXML-Plugin-KWARC (see https://github.com/KWARC/LaTeXML-Plugin-KWARC). This needs to be integrated into MMT as well.

[2016-01-14 14:08] kohlhase commented on #7
I will make a LaTeXML-Plugin-sTeX-experimental (see https://github.com/KWARC/LaTeXML-Plugin-experimental) for these files. Then they are out of the way.

[2016-01-14 14:08] #7 closed

[2016-01-14 14:09] kohlhase commented on #10
The same holds for aTeXML-Plugin-sTeX-experimental (see https://github.com/KWARC/LaTeXML-Plugin-experimental), which I will make now. (see #7)

[2016-01-14 14:19] kohlhase commented on #10
Actually that is not true, the experimental stuff should not be needed.

[2016-01-14 14:20] kohlhase commented on #13
Actually this is a duplicate of #8

[2016-01-14 14:20] #13 closed

[2016-01-14 18:55] cmaeder commented on #10
In https://github.com/KWARC/localmh/blob/latexml_plugin_stex/.travis.yml I install the two plugins manually into lmh. The HelloWorld examples run fine https://travis-ci.org/KWARC/localmh/builds/102412992 (but I need to check if the plugins properly override LaTeXML stuff).

@kohlhase could you make an sTeX branch without the files that are no longer needed?

Using brucemiller/LaTeXML instead of KW

[2016-01-14 18:59] kohlhase commented on #10
will do ASAP.

[2016-01-14 19:03] dginev commented on #10
Switching over to the master LaTeXML won't be that simple, there are important differences between the forks still. You probably need both me and Bruce looking at the forks before the plugin can properly switchover to master.

[2016-01-14 19:05] kohlhase commented on #10
that was what I understood, but switching to master LaTeXML is not on the critical path to integration in to MMT and LMH. I guess your comment belongs into #8

[2016-01-14 19:22] kohlhase commented on #10
that is now branch ```noltxml```.

[2016-01-14 19:34] cmaeder commented on #10
thanks, let's see if it works https://travis-ci.org/KWARC/localmh/builds/102429098

[2016-01-14 19:48] cmaeder commented on #10
The plugins do not override yet, so the tests are obsolete.

[2016-01-14 20:00] cmaeder commented on #10
Interestingly https://travis-ci.org/KWARC/sTeX/builds/102426557 still went through. (I would expect that a crippled branch should fail, but this does also not belong to this issue)

[2016-01-14 20:48] cmaeder commented on #10
https://travis-ci.org/KWARC/localmh/builds/102435316 looks good

[2016-01-15 15:06] cmaeder commented on #10
https://travis-ci.org/KWARC/localmh/builds/102599462 shows the (minor) differences compared to the old .omdoc files. @tkw1536 knows what do for lmh https://github.com/KWARC/localmh/issues/280

[2016-01-15 15:08] kohlhase commented on #10
That is probably progress. I should check.

[2016-01-15 15:15] cmaeder commented on #10
The creator became longer

[code]

and `xml:lang="de"` attributes are added to `omdoc:rendering`.

I'm not sure if this attribute should got into `omdoc:CMP` of `helloworld.en.omdoc`

[2016-01-15 15:20] cmaeder commented on #10
The few differences on the `for` attribute in `omdoc:definition` elements are due to https://github.com/KWARC/sTeX/issues/71

[2016-01-15 20:09] cmaeder commented on #8
Currently the "only" failures with the brucemiller/LaTeXML branch are:

[code]

see https://travis-ci.org/KWARC/localmh/builds/102659829

[2016-01-15 20:51] dginev commented on #8
those files are either not present in the stex plugin, or the paths to them haven't been added to the stex profile file.

[2016-01-18 16:00] cmaeder commented on #10
Can this issue be closed? Would it make sense to also make a KWARC/LaTeXML branch without the stuff that has been moved to the plugins?

[2016-01-18 16:02] kohlhase commented on #10
This can be closed now.

[2016-01-18 16:02] #10 closed

[2016-01-19 05:33] kohlhase opened #14 "rethink stex profiles"
_From @kohlhase on November 25, 2015 7:21_

Just to describe the problem (no good plan yet), need to discuss with @dginev:

We currently have the following profiles for sTeX
* stex-migration.opt
* stex-module.opt
* stex-omdoc-modules.opt
* stex-slides-module.opt
* stex-smglom-module.opt
* stex.opt
* stexml-module.opt
* stexml.opt

And they (except the first, which is highly experimental) are (almo

[2016-01-19 05:33] kohlhase commented on #14
I think they should go to the plugin probably.

[2016-01-19 05:33] kohlhase commented on #14
the profiles are in the plugin now, they can be removed from the KWARC branch of LaTeXML, that is at least a good first step. @dginev, would you do that?

[2016-01-19 06:18] kohlhase opened #15 "weird intermittend error"
_From @kohlhase on January 6, 2016 8:54_

in ```MathHub/ODK/lmfdb/source/conductor.en.tex```, I get a fatal error every secondn time:
[code]
It seems to have to do with the line
[code]
If I comment this out, then success every time. Very weird.
@dginev I guess you should see this.

_Copied from original issue: KWARC/sTeX#205_

[2016-01-19 06:18] kohlhase commented on #15
_From @dginev on January 7, 2016 16:55_

If @angerhang could debug this to the internal bits of code that break, that would be amazing. I am back to full-time working hours now, so I'll have much smaller debugging windows for stex.

[2016-01-19 06:18] kohlhase commented on #15
yes, that is exactly the idea.

[2016-01-19 06:18] kohlhase opened #16 "\importmodule does not tolerate _ in module names"
_From @kohlhase on January 1, 2016 11:39_

```\importmodule{test_test}``` gives me the error.
[code]
Just run sTeX on
[code]
I am not sure where this comes from, I had suspected that we have to give the argument of ```\importmodule``` the type ```Semivarbatim``` or even ```TeXFileName```, but that did not really help.

_Copied from original issue: KWARC/sTeX#202_

[2016-01-19 06:18] kohlhase commented on #16
@dginev, could you have a look at this?

[2016-01-19 06:18] kohlhase commented on #16
this is important (priority) to me, since we need if of the OpenDreamKit flexiformalization of elliptic curves.

[2016-01-19 06:18] kohlhase commented on #16
_From @dginev on January 1, 2016 12:37_

Can you easily use underscores in the TeX implementation? I was left with the impression they remain active unless explicitly neutralized. Active underscores are easily one of the most common problems in Authorea as well btw.

[2016-01-19 06:18] kohlhase commented on #16
There does not seem to be a problem in sTeX here.

[2016-01-19 06:18] kohlhase commented on #16
But the only thing that is really happening is that the arguments are passed around to an ```\input``` eventually, and (in a way that I do not really understand) into macro names.

[2016-01-19 06:18] kohlhase commented on #16
_From @angerhang on January 3, 2016 9:57_

https://github.com/KWARC/LaTeXML/blob/master/lib/LaTeXML/Package/TeX.pool.ltxml#L3404-L3407
From this block, we can see that LaTeXML doesn't allow us to have `^` or `_` in a non-math block for the argument.

I can think of two possible workarounds:

I. a sketchy approach: explicitly silencing this error for sTeX, which however, might introduce other error

[2016-01-19 06:18] kohlhase commented on #16
_From @dginev on January 3, 2016 10:3_

Right, you are pointing to the exact bit of code that triggers the error, when the underscore is expanded outside of math mode.

So the idea with the ```Semiverbatim``` parameter type is exactly to avoid that. It is a different reader than the ```Plain``` parameter one, which will slurp in characters a lot more leniently, and it would never treat the undersc

[2016-01-19 06:18] kohlhase commented on #16
_From @dginev on January 3, 2016 10:10_

Btw, @kohlhase just a reminder that if you switch the ```\importmodule``` argument to Semiverbatim, you will no longer be able to expand macros in it, and I remember there used to be importmodule arguments that had macros (e.g. for instantiating the right relative path).

It may be better to use the dedicated [```TeXFileName```](https://github.com/KWARC/LaT

[2016-01-19 06:18] kohlhase commented on #16
_From @angerhang on January 3, 2016 10:17_

Right,
[code]
works on on
[code]
with no problem.

[2016-01-19 06:18] kohlhase commented on #16
_From @dginev on January 3, 2016 10:21_

Perfect, then there is probably 0 dev work to do here. I am still wondering if using ```TeXFileName``` isn't better than ```Semiverbatim``` in this case.

[2016-01-19 06:18] kohlhase commented on #16
_From @dginev on January 3, 2016 10:27_

Btw, @angerhang here is the intro-level documentation of binding "prototypes" where semiverbatim is briefly introduced: http://math.nist.gov/~BMiller/LaTeXML/manual/modules/LaTeXML_Package.html#SSx2.SSSx1.Px1

```TeXFileName``` is not present in these docs, so @brucemiller could tell us if that is an intended or unintended omission :> But it's in TeX.pool s

[2016-01-19 06:18] kohlhase commented on #16
_From @angerhang on January 3, 2016 10:37_

Yap thanks for the tip : )

but I don't know why Miko said neither `Semivarbatim` nor `TeXFileName` helped for him. Perhaps @kohlhase can also elaborate on this.

[2016-01-19 06:18] kohlhase commented on #16
I probably had some problems testing, I was wondering myself. Did you commit?

[2016-01-19 06:18] kohlhase commented on #16
_From @angerhang on January 4, 2016 17:27_

I haven't because Deyan and I were not sure if `Semivarbatim` or `TeXFileName` is better.

[2016-01-19 06:18] kohlhase commented on #16
I am not sure either, so let's just start with ```Semiverbatim``` and then escalate to ```TeXFileName``` when necessary.

[2016-01-19 06:18] kohlhase commented on #16
Note that we also need to do the same for ```\usemodule```.

[2016-01-19 06:18] kohlhase commented on #16
_From @brucemiller on January 5, 2016 11:13_

```TeXFileName``` is probably not what you want: it reads the filename the TeX way: w/o braces, up to a space, cr or comment and doesn't accept macros. ```Semiverbatim``` is more likely what you want: it neutralizes ```^,_,@,~,&,$,'``` and accepts control sequences and (depending on the caller) does accept expand them.

Note that up until a recent patc

[2016-01-19 06:18] kohlhase commented on #16
Thanks to Bruce for the clarification. I had suspected something like this (you might still update the LaTeXML documentation though). And we definitely do not want ```TeXFileName``` it seems like.

[2016-01-19 06:18] kohlhase commented on #16
_From @dginev on January 5, 2016 13:23_

All clear, thanks for the details!

[2016-01-19 06:18] kohlhase commented on #16
@angerhang I have tested this with the modules at https://gl.mathhub.info/ODK/lmfdb/. And I am still getting script warnings. Could you please try as well? Just install them via ```lmh``` and that should be sufficient.

[2016-01-19 06:18] kohlhase commented on #16
_From @angerhang on January 14, 2016 12:18_

I tried to install the modules by `lmh install ODK` but I get parsing failure:
[code]

[2016-01-19 06:18] kohlhase commented on #16
this is a known issue of ```lmh```. Just use git clone directly. BUT I have renamed all files away from _ (to make progress), so you will have to make your own test cases I fear.

[2016-01-19 06:18] kohlhase opened #17 "stex:locator garbled"
_From @kohlhase on December 1, 2015 11:58_

On ```sTeX/example/background/functions.tex``` I get the error message
[code]
Note that you can recreate it with ```make mods``` in that directory.

_Copied from original issue: KWARC/sTeX#200_

[2016-01-19 06:18] kohlhase opened #18 "notations lost their outer mrow"
_From @kohlhase on December 1, 2015 11:56_

It seems that notations have lost their outer <mrow> element, and as a consequence, they are invalid.
in ```smglom/source/set.tex``` we get
[code]
instead of
[code]
as we used to.

I am not sure whether the mrow is necessary in the presentation process @m-iancu could you comment? If it is not, then I can tweak the schema else, we should reinstate it. @dg

[2016-01-19 06:18] kohlhase commented on #18
_From @dginev on December 1, 2015 19:59_

Doesn't ring any bells of the top of my head, but we should keep in mind Bruce could have introduced some underwater change of behaviour (or Hang could have). I can help debug if it gets hard to figure out if you get really stuck.

One thing I quickly checked is that LaTeXML always generates a wrapping ```<mrow>``` in expressions with at least one operator

[2016-01-19 06:18] kohlhase commented on #18
Actually, @m-iancu said it will be quite simple for him to work without an outer mrow. So I will adapt the OMDoc schema I guess.

[2016-01-19 06:19] kohlhase opened #19 "do something about XMRef"
_From @kohlhase on November 24, 2015 6:18_

We had an external reference to ```latexml.sty``` in ```mikoslides.sty```, which I deleted for sanitary reasons. But we are using the ```\LXMId/Ref``` macros in some places. And these overlap with the STR functionality in the ```omdoc``` package. I should resolve this once and for all and build the respective infrastructure. Maybe even add the winner to

[2016-01-19 06:19] kohlhase commented on #19
I have copied the relevant pieces of ```latexml``` package into the ```omdoc``` package, so that we do not lose functionality overall.

[2016-01-19 06:20] kohlhase opened #20 "functions= no longer works"
_From @kohlhase on October 19, 2015 14:34_

it used to be that on a statement you could give the ```functions=``` key and specify some identifiers as functions (so that the LaTeXML parser treats them correctly).  This does not seem to be working any more. We now get the error
[code]
If I remember correctly, ```functions=``` expands to ```\lxDeclare``` in some way.
@dginev do you remember?

_Copied

[2016-01-19 06:20] kohlhase commented on #20
_From @angerhang on October 21, 2015 23:36_

I wonder if this has to do with #149.
They both attempt to terminate text mode.

[2016-01-19 06:20] kohlhase opened #21 "is modules.sty.ltxml dependency on \presentation adequate?"
_From @kohlhase on November 19, 2015 7:51_

the LaTeX side is independent of presentation. Why is the LaTeXML side? I think we may want to refactor that and put the \@@use formatter into modules.sty.ltxml.

_Copied from original issue: KWARC/sTeX#181_

[2016-01-19 06:20] kohlhase opened #22 "clean up info errors in SMGloM"
_From @kohlhase on July 3, 2015 5:28_

In https://github.com/KWARC/MMT/issues/29 @cmaeder reports SMGloM errors with the new errro veiewer http://ash.eecs.jacobs-university.de:8080/errorview.html (running latexml takes 20 hours). We should get the infos (CMP and srcref) sorted out. The are also reported in the MathHub error viewer (given the right settings), but that has a different run (I think).

[2016-01-19 06:20] kohlhase commented on #22
_From @m-iancu on July 3, 2015 11:44_

MathHub.info has a different run indeed. The infos are fairly harmless but many are probably easy to fix. Most are about missing source references. Also, the most common one in that list `Unexpected element label in CMP: div ` is actually irrelevant and I should remove it. I had added it for debugging somthing. It is safe to ignore it for now.

[2016-01-19 06:20] kohlhase commented on #22
Ah, that is good to know, because that is not one I knew how to fix.

[2016-01-19 06:20] kohlhase commented on #22
I am a bit surprised at the fact that we are getting infos about missing srcrefs on omdoc:imports. That is present on my local machine. I am wondering what version Christian used.

[2016-01-19 06:21] kohlhase opened #23 "spurious validity errors"
_From @cmaeder on June 23, 2015 18:26_

on my machine (Ubuntu 15.04) I get `validity error` messages on stderr:

[code]

On ash (Debian 8 (jessie)), there are no errors shown. The output created is identical on both machines, so the messages could be simply ignored, but they are still irritating.

(An old related issue seems to be http://www.cpantesters.org/cpan/report/ba10553c-8029-11e4-b744-f434

[2016-01-19 06:21] kohlhase commented on #23
_From @dginev on June 23, 2015 18:36_

Oh wow, 15.04 is out?

If this is another breaking change of libxml2 I will have to find a place to channel anger. It took forever to resolve a breaking valdiation problem with the newer version of libxml2 for the 0.8 release of LaTeXML back in November 2014, hopefully we are not hitting that again.

[2016-01-19 06:21] kohlhase commented on #23
_From @cmaeder on June 24, 2015 7:33_

My machine has `libxml2:amd64: /usr/lib/x86_64-linux-gnu/libxml2.so.2.9.2` whereas ash has
`libxml2.so.2.9.1`. I'll try, if I can replace my libxml2.

[2016-01-19 06:21] kohlhase commented on #23
_From @cmaeder on June 24, 2015 7:53_

Yes, I could `apt-get install libxml2=2.9.1+dfsg1-4ubuntu1` and got:

[code]

[2016-01-19 06:21] kohlhase commented on #23
_From @cmaeder on June 24, 2015 8:24_

I had to add `deb http://de.archive.ubuntu.com/ubuntu/ utopic main` to `/etc/apt/sources.list` to get the older `libxml2`. However, the version for `libxml-libxslt-perl` is identical for utopic and vivid, namely  `1.92-1build1`.

[2016-01-19 06:21] kohlhase commented on #23
_From @dginev on June 24, 2015 12:28_

Well this will bring back horrible memories. CC-ing @brucemiller here, so that he knows to expect a native LaTeXML issue soon. I am happy I am yet to update my Ubuntu installation.

[2016-01-19 06:21] kohlhase commented on #23
_From @dginev on June 26, 2015 2:8_

And so I took the plunge and upgraded to 15.04. Good news for @cmaeder : my setup 1) can't run TAP at all and 2) segfaults when running latexmlc :>

I think my libxml just got completely disconnected from XML::LibXML during the upgrades. Will hunt down more tomorrow, will borrow this issue. @brucemiller : I am calling from the future, it ain't good :>

[2016-01-19 06:21] kohlhase commented on #23
_From @cmaeder on June 26, 2015 7:40_

My software setup is done using https://gl.mathhub.info/meta/inf/tree/master/config/MMT
(see setupLocalMH.sh)

[code]

[2016-01-19 06:21] kohlhase commented on #23
_From @cmaeder on June 26, 2015 7:47_

@kohlhase @m-iancu How was `pine.eecs.jacobs-university.de:/var/data/localmh/sty` created? (I don't see a corresponding repository). Why is this directory needed (if it is at all)?

[2016-01-19 06:21] kohlhase commented on #23
It has a couple of packages I did not know where to put otherwise.

[2016-01-19 06:21] kohlhase commented on #23
_From @dginev on June 27, 2015 16:53_

CC-ing @brucemiller here since it's again related to the LaTeXML installation.

What had happened is that my cpanm-installed JSON::XS was out of sync with a system library, and it was segfaulting. I reverted to using the ```JSON::XS``` from the package manager, which worked like a charm.

I am also successfully running make test under libxml 2.9.2, which mean

[2016-01-19 06:21] kohlhase commented on #23
_From @dginev on June 27, 2015 16:54_

For now I am assuming the validity errors come from the libxml changes we already addressed for the last release.

[2016-01-19 06:21] kohlhase commented on #23
_From @brucemiller on June 27, 2015 17:10_

Any chance that this is related to a few random failures on cpantesters? (i doubt it, but...)

[2016-01-19 06:21] kohlhase commented on #23
_From @cmaeder on June 29, 2015 7:50_

`make test` does not produce the validity errors that I reported above. They are reported for our example `piecewise.de.tex` from `smglom/mv` (and for other examples).

[2016-01-19 06:21] kohlhase commented on #23
_From @cmaeder on June 29, 2015 8:46_

see #102

[2016-01-19 06:21] kohlhase opened #24 "schema problem"
_From @kohlhase on May 25, 2015 8:6_

In `.../MathHub/MiKoMH/GenCS/source/search/en/genetic-algorithms.tex` I get an error I do not understand. It seems to be a model problem.

[code]

I have no idea what is happening, this may even be a LaTeXML problem?

_Copied from original issue: KWARC/sTeX#90_

[2016-01-19 06:21] kohlhase commented on #24
_From @dginev on May 25, 2015 14:4_

That may well be, @brucemiller does that message ring a bell? Any clues as to why would a ltx:inline-block be inside a libxml XMLFragment ?

[2016-01-19 06:21] kohlhase commented on #24
_From @brucemiller on June 11, 2015 22:36_

This ended up in my spam folder, and I just noticed it. That's one of libxml2's mysteries, but I suspect that somewhere you (or I) have done something with an xpath that managed to select a fragment of document (multiple nodes) where you were expecting only a single one. If you're using LaTeXML's apis, there's a distinction between findnode and findnodes

[2016-01-19 06:21] kohlhase opened #25 "latexmls leaks its state into .omdoc output"
_From @cmaeder on April 22, 2015 11:27_

see https://github.com/KWARC/sTeX/issues/68#issuecomment-95105847

`approxeq?approximately-equal` may appear in the `for`-attribute of a `omdoc:definition`-element of `defeq.de.omdoc`, although `defeq.de.tex` is unrelated to i.e. `approxeq.de.tex`.

I can reproduce it using https://svn.kwarc.info/repos/MMT/src/stex-mmt/run-latexml.sh:

[code]

_Copied from

[2016-01-19 06:21] kohlhase commented on #25
_From @cmaeder on April 22, 2015 12:40_

even repeated names may be generated by latexmls:

[code]

Correct is a `for="approxeq?approximately-equal" `.

[2016-01-19 06:21] kohlhase commented on #25
_From @dginev on April 22, 2015 14:30_

This could be a real bug with daemonization, those are very valuable to record since having an isolated conversion frame is crucial. Looks pretty interesting, I will investigate soon.

[2016-01-19 06:21] kohlhase commented on #25
did anything happen here?

[2016-01-19 06:21] kohlhase commented on #25
_From @cmaeder on December 18, 2015 14:41_

I've observed this bug now for https://gl.mathhub.info/HelloWorld/smglom.git where we keep the .omdoc files within a test folder to allow comparisons with further runs.

I always get differences when I change the order of building (`--force` versus `--depsFirst`) or do not `--reboot`  (`latexmls`) for a second run. Correct output seems to be produced onl

[2016-01-19 06:21] kohlhase opened #26 "bug in numberIt"
_From @kohlhase on April 22, 2015 5:1_

We have a new plaything (the MathHub error viewer now runs on GenCS; see https://mathhub.info/mh/common-errors), so we find new bugs in sTeX. Here is the first one. When I run ```latexmlc``` on ```MathHub/MiKoMH/GenCS/source/atp0/en/resolution-example.tex``` I get the error
[code]
This is in the ```numberIt``` sub, something to do with computing locators, wh

[2016-01-19 06:21] kohlhase commented on #26
Oh, I should probably say this happens in 73 other occasions on GenCS. Look for the "Perl died" error in  https://mathhub.info/mh/common-errors

[2016-01-19 06:21] kohlhase commented on #26
_From @angerhang on April 23, 2015 21:41_

Correct me if I am wrong.
When I run `latexmlc` on `MathHub/MiKoMH/GenCS/source/course/en/grading.tex`
This is the change I made in `numberIt`
[code]
I got one entry whose `$whatsit` is not defined (source of Perl' death)

[code]
I think this has to do with the bug of namespace or with some elements that weren't properly wrapped?
I couldn't trace it furth

[2016-01-19 06:21] kohlhase commented on #26
what is the state of this issue? Is this fixed with the recent pull request, if so, please close.

[2016-01-19 06:22] kohlhase opened #27 "\mhinputref generates relative URIs"
_From @m-iancu on March 24, 2015 15:18_

I.e. it generates
```<omdoc:oref class="expandable" href="../../../../root/localmh/MathHub/MiKoMH/pythagoreantheorem/source/measurements/length"/>```
 instead of
```<omdoc:oref class="expandable" href="MiKoMH/pythagoreantheorem/source/measurements/length"/>```

Alternatively, I can update the sTeX importer to support relative paths. That is not difficult ju

[2016-01-19 06:22] kohlhase commented on #27
I think that sTeX should be consistent here, so we should try to fix it at this level. But it is not trivial.
@m-iancu So maybe you can add the relativization code for the moment?
I had hoped it would just be a case of adding a ```@cannoical_omdoc_path```, but that is already there. I am not sure what goes wrong. Probably @dginev has to help with this again. It is a pity that @angerhang is not qui

[2016-01-19 06:22] kohlhase commented on #27
_From @dginev on March 24, 2015 20:29_

Just for the record, this is not an absolute path:
[code]

Rather, it is a relative path from the base of the repository. I remember we liked those a lot, and I still like them a lot, as they read nicest and are not bound to the concrete filesystem.

This is an absolute path:

[code]

This is a trivial observation, but using the right language helps with me

[2016-01-19 06:22] kohlhase commented on #27
you are completely right, what we are really looking for is a canonical path (i.e. one that cannot be shortened).

[2016-01-19 06:22] kohlhase commented on #27
_From @m-iancu on March 24, 2015 20:32_

@dginev indeed, though, in my defense, the base of the mathhub repository is my canonical root :)

[2016-01-19 06:22] kohlhase commented on #27
_From @dginev on March 24, 2015 20:36_

"Canonical" I can understand, +1 for using that word for these guys.

Any non-canonical behaviour is indeed an sTeX bug, and I would be happy to patch that (time permitting).

@m-iancu I thought so :) Although I am surprised you are happy to call unqualified paths absolute, in the URI context you still need to have a domain base (I'm guessing ```http://mathh

[2016-01-19 06:22] kohlhase commented on #27
do you also have an idea what goes wrong?

[2016-01-19 06:22] kohlhase opened #28 "rework modules.sty.ltxml"
_From @kohlhase on February 10, 2015 4:27_

Curently, ```modules.sty.ltxml``` it is still quite convoluted, as the low-level and high-level bits are mashed together. It is a good exercise to try and rewrite bits of ```modules.sty.ltxml``` in ways that it becomes cleaner and better structured. @dginev can give advice.

_Copied from original issue: KWARC/sTeX#42_

[2016-01-19 06:22] kohlhase opened #29 "switch sTeX over to produce content MathML"
_From @kohlhase on February 10, 2015 4:23_

Currently sTeX produces OpenMath, but we want to switch over to strict content MathML3, which is equivalent, but syntactialy more pleasing. This entails changes in ```modules.sty.ltxml```, ```cmath.sty.ltxml```, and ```presentation.sty.ltxml``` (maybe more; have a look). Of course, this should be developed on a branch. @dginev can give advice.

_Copied f

[2016-01-19 06:22] kohlhase commented on #29
_From @physikerwelt on March 12, 2015 13:42_

:+1:

[2016-01-19 06:22] kohlhase commented on #29
_From @angerhang on July 13, 2015 15:1_

@dginev
The summer might be the best time to tackle this issue.

I saw there was already a content MathML branch being worked on by you last year and has not been updated lately.

Do you think it would be a good idea for us to keep working on that branch or create a new branch for this issue?

[2016-01-19 06:22] kohlhase commented on #29
_From @angerhang on July 13, 2015 15:6_

If we decide to work on the existing branch, it probably would be difficult to the do regression test since that branch is quite antediluvian.

A better approach could be we create a new branch and mimic the corresponding changes.

What do you think?

[2016-01-19 06:22] kohlhase commented on #29
_From @dginev on July 13, 2015 20:8_

Wow, first time I hear of code being "antediluvian"!

I didn't get far with that branch, so feel free to start anew.

[2016-01-19 06:22] kohlhase commented on #29
_From @angerhang on July 16, 2015 14:14_

Hah the use of that word was just a practice of my vocab as I am preparing for GRE these days : )

But I don't know if I am being too naive again that I can't find other things that need to be changed after this pull request https://github.com/KWARC/sTeX/pull/111?

My approach is to look for mathematical objects level markups with 'om:' namespace, and chan

[2016-01-19 06:22] kohlhase commented on #29
_From @dginev on July 16, 2015 14:18_

Try to generate some OMDoc and review the final generated Content Math, comparing it to the original OpenMath version. If you can convince yourself it matches up perfectly, you're probably done.

High level comment, but it's a good end-to-end test. Good luck with the GREs, I hear they are arduous.

[2016-01-19 06:22] kohlhase commented on #29
_From @angerhang on July 16, 2015 14:44_

Thanks.

Hmm I thought this would be a much more non-trivial task, since Miko mentioned this conversion to me a long time ago. It is good that this can be done.

Can you help inspect?

[2016-01-19 06:22] kohlhase commented on #29
_From @angerhang on July 27, 2015 15:38_

@dginev from my understanding, LaTeXML should be able to generate CMML right?

I did the following changes but it seems to me that sTeX still has __PMML as the output__ which confused me:
- Changed the math mode in `make/Makefile.latexml.vars` so that LaTeXML can produce cmml.

- Added the `cmml` math mode mimicking 'pmml' in xsl. I haven't written `cmml`'

[2016-01-19 06:22] kohlhase commented on #29
_From @dginev on July 27, 2015 15:43_

Careful, the PMML is there for a reason - it is used in the rendering elements to specify the intended display (and in the general case - all notations) of the defined symbols.

The PMML and OpenMath in the classic sTeX setup were disentangled by a follow-up stylesheet which Michael wrote. This stylesheet also needs to evolve to now disentangle PMML and CMML

[2016-01-19 06:22] kohlhase commented on #29
am I right that you want to use Makefiles for debugging?

We should be careful with this, the Makefiles are very likely outdated.
I could not find a change on branch ```new_content_math```, did you push?

Generally, the sTeX2OMDoc conversion is in three steps:
1. running ```latexml``` (converts the top-level sTeX stuff to OMDoc and the text-level to LTX, and generates ltx:XMath for Math and notati

[2016-01-19 06:22] kohlhase commented on #29
_From @angerhang on July 28, 2015 14:2_

Michael I just pushed the changes and added a test file to my fork.

I don't think the `test.omdoc` is right though.

[2016-01-19 06:22] kohlhase commented on #29
Hang, I think that we should not use your fork, but the ```new_content_mathml``` branch directly on the sTeX repository. Either use a branch or a fork.

[2016-01-19 06:22] kohlhase commented on #29
_From @dginev on July 28, 2015 14:12_

I second Michael here, using the main KWARC/sTeX repo is perfectly fine if you are using your own feature branch on it.

 Having to merge over from a fork, to a feature branch, and then to master, is a paranoid level of quality assurance, and likely too much hassle to be worthwhile for you. KWARC/sTeX/branch -> KWARC/sTeX/master is perfectly reasonable.

[2016-01-19 06:22] kohlhase commented on #29
I am quite sure that Jinbo and Hang have push rights.

[2016-01-19 06:55] kohlhase opened #30 "post-processing with big delimiters"
_From @kohlhase on November 5, 2014 13:50_

A new "feature" of LaTeXML is that big delimiters are handled pseudo-semantcially. I am seeing situations like
[code]
for ```\big[...\big]```. This is not the OpenMath we want, It seems to me that the post-processor should add notational hints to the content MathML instead. For instance, if we have
```f\big[...\big]```, it should generate something like

[2016-01-19 06:55] kohlhase commented on #30
Oh, I should probably say that I am just deleting the OMA with the OMS delimited-[] in the stylesheet for now.

[2016-01-19 06:55] kohlhase opened #31 "\nappa should create variable"
_From @kohlhase on October 30, 2014 7:56_

in ```functions.en.tex``` we have ```$\nappa{f}x=y$```, which is supposed to mark up the fact that the function (variable) ```f``` is applied to the argument ```z```. I want this to generate
[code]
but it generates
[code]
because we have in ```cmath.sty.ltxml```
[code]
I have tried changing the first child of the ```XMApp``` to ```<ltx:XMTok name='#2' />`

[2016-01-19 06:55] kohlhase commented on #31
I have currently applied the ```name=``` variant and updated the XSLT to clean up the ```normal-```; but this is rather hacked, so I will leave this bug open.

[2016-01-19 06:55] kohlhase opened #32 "rethink parrayline in presentation"
_From @kohlhase on May 23, 2014 8:28_

Currently we have a rather awkward macro ```\parrayline``` in the ```presentation``` package. It takes two arguments, the first cell and the rest.  I would really like to have a simple macro ```\parrayline``` so that I can write
[code]
the macro ```matrix``` works well, I have started a macro ```\varparrayline``` but I still have problems doing the LaTeX macr

[2016-01-19 06:56] kohlhase opened #33 "statements.sty.ltxml: example with title fails"
_From @kohlhase on March 29, 2014 7:13_

in ```GenCS/source/memory/en/address-decoder.tex``` I have
[code]
and that fails with the error message that it cannot close omdoc:metadata.

And I do not understand why. without the title, things are fin.

_Copied from original issue: KWARC/sTeX#2_

[2016-01-19 06:56] kohlhase opened #34 "do something about XMRef"
_From @kohlhase on November 24, 2015 6:18_

We had an external reference to ```latexml.sty``` in ```mikoslides.sty```, which I deleted for sanitary reasons. But we are using the ```\LXMId/Ref``` macros in some places. And these overlap with the STR functionality in the ```omdoc``` package. I should resolve this once and for all and build the respective infrastructure. Maybe even add the winner to

[2016-01-19 06:56] kohlhase commented on #34
I have copied the relevant pieces of ```latexml``` package into the ```omdoc``` package, so that we do not lose functionality overall.

[2016-01-19 06:56] kohlhase opened #35 "switch sTeX over to produce content MathML"
_From @kohlhase on February 10, 2015 4:23_

Currently sTeX produces OpenMath, but we want to switch over to strict content MathML3, which is equivalent, but syntactialy more pleasing. This entails changes in ```modules.sty.ltxml```, ```cmath.sty.ltxml```, and ```presentation.sty.ltxml``` (maybe more; have a look). Of course, this should be developed on a branch. @dginev can give advice.

_Copied f

[2016-01-19 06:56] kohlhase commented on #35
_From @physikerwelt on March 12, 2015 13:42_

:+1:

[2016-01-19 06:56] kohlhase commented on #35
_From @angerhang on July 13, 2015 15:1_

@dginev
The summer might be the best time to tackle this issue.

I saw there was already a content MathML branch being worked on by you last year and has not been updated lately.

Do you think it would be a good idea for us to keep working on that branch or create a new branch for this issue?

[2016-01-19 06:56] kohlhase commented on #35
_From @angerhang on July 13, 2015 15:6_

If we decide to work on the existing branch, it probably would be difficult to the do regression test since that branch is quite antediluvian.

A better approach could be we create a new branch and mimic the corresponding changes.

What do you think?

[2016-01-19 06:56] kohlhase commented on #35
_From @dginev on July 13, 2015 20:8_

Wow, first time I hear of code being "antediluvian"!

I didn't get far with that branch, so feel free to start anew.

[2016-01-19 06:56] kohlhase commented on #35
_From @angerhang on July 16, 2015 14:14_

Hah the use of that word was just a practice of my vocab as I am preparing for GRE these days : )

But I don't know if I am being too naive again that I can't find other things that need to be changed after this pull request https://github.com/KWARC/sTeX/pull/111?

My approach is to look for mathematical objects level markups with 'om:' namespace, and chan

[2016-01-19 06:56] kohlhase commented on #35
_From @dginev on July 16, 2015 14:18_

Try to generate some OMDoc and review the final generated Content Math, comparing it to the original OpenMath version. If you can convince yourself it matches up perfectly, you're probably done.

High level comment, but it's a good end-to-end test. Good luck with the GREs, I hear they are arduous.

[2016-01-19 06:56] kohlhase commented on #35
_From @angerhang on July 16, 2015 14:44_

Thanks.

Hmm I thought this would be a much more non-trivial task, since Miko mentioned this conversion to me a long time ago. It is good that this can be done.

Can you help inspect?

[2016-01-19 06:56] kohlhase commented on #35
_From @angerhang on July 27, 2015 15:38_

@dginev from my understanding, LaTeXML should be able to generate CMML right?

I did the following changes but it seems to me that sTeX still has __PMML as the output__ which confused me:
- Changed the math mode in `make/Makefile.latexml.vars` so that LaTeXML can produce cmml.

- Added the `cmml` math mode mimicking 'pmml' in xsl. I haven't written `cmml`'

[2016-01-19 06:56] kohlhase commented on #35
_From @dginev on July 27, 2015 15:43_

Careful, the PMML is there for a reason - it is used in the rendering elements to specify the intended display (and in the general case - all notations) of the defined symbols.

The PMML and OpenMath in the classic sTeX setup were disentangled by a follow-up stylesheet which Michael wrote. This stylesheet also needs to evolve to now disentangle PMML and CMML

[2016-01-19 06:56] kohlhase commented on #35
am I right that you want to use Makefiles for debugging?

We should be careful with this, the Makefiles are very likely outdated.
I could not find a change on branch ```new_content_math```, did you push?

Generally, the sTeX2OMDoc conversion is in three steps:
1. running ```latexml``` (converts the top-level sTeX stuff to OMDoc and the text-level to LTX, and generates ltx:XMath for Math and notati

[2016-01-19 06:56] kohlhase commented on #35
_From @angerhang on July 28, 2015 14:2_

Michael I just pushed the changes and added a test file to my fork.

I don't think the `test.omdoc` is right though.

[2016-01-19 06:56] kohlhase commented on #35
Hang, I think that we should not use your fork, but the ```new_content_mathml``` branch directly on the sTeX repository. Either use a branch or a fork.

[2016-01-19 06:56] kohlhase commented on #35
_From @dginev on July 28, 2015 14:12_

I second Michael here, using the main KWARC/sTeX repo is perfectly fine if you are using your own feature branch on it.

 Having to merge over from a fork, to a feature branch, and then to master, is a paranoid level of quality assurance, and likely too much hassle to be worthwhile for you. KWARC/sTeX/branch -> KWARC/sTeX/master is perfectly reasonable.

[2016-01-19 06:56] kohlhase commented on #35
I am quite sure that Jinbo and Hang have push rights.

[2016-01-19 06:56] kohlhase commented on #35
_From @angerhang on July 28, 2015 14:21_

I agree.

Using a feature branch in the fork troubles me whenever I want to synchronize between different forks and branches. I will push directly to the new-content-mathml branch from now no.

Thanks for the suggestion.

[2016-01-19 06:56] kohlhase commented on #35
I have played with the branch a bit.

I completed test.tex so that it runs and I have adapted the Makefiles, so that they generate ```test.xml``` (no stylesheet) and ```test.tomdoc``` (applying the stylesheet to ```test.xml```). This should give us more debugging information.

The main problem still seems to be that ```--cmml``` and ```--pmml``` interfere considerably (excluding each other).
In cl

[2016-01-19 06:56] kohlhase commented on #35
_From @dginev on July 29, 2015 5:30_

Er, that should never happen, sounds like a bug.

Can you give me an exact set of commands and an example file, so that I can reproduce quickly? I am generally short on time this week, but this sounds like something I can quickly diagnose and pass over to @angerhang , as long as I can see the exact LaTeXML setup and bindings being run.

[2016-01-19 06:56] kohlhase commented on #35
just check out the ```new_content_mathml``` branch of sTeX, go to the ```cmmltest``` dir and do
[code]
that should do the trick.

[2016-01-19 07:03] kohlhase commented on #29
incomplete move, closing

[2016-01-19 07:04] kohlhase commented on #19
incomplete move, closing

[2016-01-19 07:04] #19 closed

[2016-01-19 07:04] #29 closed

[2016-01-19 07:04] kohlhase opened #36 "need error/warning for absent stuff"
_From @kohlhase on October 19, 2015 6:45_

latexml generates lots of ```<om:OMS cd="latexml" name="absent"/>```, which seem to point to a problem (after all nothing usable is there) but does not give an error/warning that we could track. For instance this happens in ```/MiKoMH/GenCS/latexml/machines/en/indexreg.tex```, where
[code]
converts to
[code]
This begs two questions
* why is ```\MFdatastor

[2016-01-19 07:04] kohlhase commented on #36
in the meantime, I have asked @m-iancu to handle these specially in the stex-compiler and report them.

[2016-01-19 07:04] kohlhase opened #37 "allow \inlinedef omtext environment"
_From @kohlhase on October 17, 2015 8:38_

In ```MiKoMH/GenCS/source/SML/en/SML-rtfm.omdoc``` we get the error ```malformed: \inlinedef outside a statement!``` when transforming with ```latexml```, even though ```pdflatex``` accepts this.

The offending part is
[code]
I am not sure why this is, since in ```statemts.sty.ltxml``` the conditional is
[code]
and an ```omtext``` environment certainly ge

[2016-01-19 07:04] kohlhase commented on #37
_From @angerhang on October 22, 2015 0:15_

This does seem to be a timing issue for two reasons:
[code]
in `MiKoMH/GenCS/source/adt/en/adt-def.tex` has no problem finding CMP, so the findnode is able to find `omdoc:CMP` if there is one.

And the second reason what you said: `CMP` exists in the final output.

[2016-01-19 07:04] kohlhase commented on #37
so, can you solve it?

[2016-01-19 07:04] kohlhase commented on #37
_From @angerhang on October 23, 2015 0:17_

Actually I suspect in `omtext.sty.ltxml` if
[code]
is openning `omdoc:CMP` early enough @dginev ?

How can we make `CMP` open more promptly?

This is part of the `$document` at the time of `findNode`
[code]
`CMP` is clearly not present.

[2016-01-19 07:05] kohlhase opened #38 "stex2html package design"
_From @angerhang on September 22, 2015 13:6_

Instead of having `stex-ns` package which only registers the namespaces for HTML branch, I think it is better to have a `stex2html.[sty.ltxml|styl]` package which mostly does the same thing as `stex-ns.[sty.ltxml|sty]`, but also sets the schema to `ltxml+omdoc.rnc`.

Hence, we can get rid of the `html` option for html branch at the same time. Now, one

[2016-01-19 07:05] kohlhase commented on #38
_From @dginev on September 22, 2015 16:20_

FYI the LaTeXML way to distinguish formats would be via:

``` --format=html5 ```

or

``` --format=omdoc ```

Which used to be responsible for changing the stylesheet, but with the upcoming improvements in 0.8.3 (ETA early 2016) you could have an entire format-based profile, allowing to select or deselect various post-processors. @brucemiller we could th

[2016-01-19 07:05] kohlhase commented on #38
_From @angerhang on October 4, 2015 17:44_

After a discussion with Michael this week, we think using LaTeXML to distinguish the format-based profile is a better approach.

Currently sTeX is switching over to CMML, so I think instead of improving the PMML and OpenMath post-processors, what is more needed is to improve the CMML and PMML post-processors right?

However, if sTeX is only producing XMa

[2016-01-19 07:05] kohlhase commented on #38
_From @dginev on October 4, 2015 19:18_

You only need to improve the post-processors when they are not good enough - so that should happen incrementally, as you have examples of undesired markup.

Also, sTeX produced a lot of hand-crafted OpenMath when I was working on it, notably related to binders and associative arguments. It is rather unclear what the correct XMath equivalent would be for tha

[2016-01-19 07:05] kohlhase opened #39 "Rethinking HTML approach"
_From @angerhang on September 21, 2015 13:8_

After a discussion with Michael today, we decided we would have to change our original HTML approach, which essentially is to use a light variant `*.sty.ltxml` to generate HTML5 and RDFs.

The right way of generating HTML is actually to set the schema as `ltxml+omdoc.rnc`, so that the bindings should mostly remain unchanged, and let the post processor

[2016-01-19 07:05] kohlhase opened #40 "modules light"
_From @kohlhase on July 22, 2015 7:37_

The modules binding should essentially stay as it is, only that it (for the moment) should not deposit notation definitions. It should however generate divs for theories and RDFa spans for symbols and the various importmodule and usemodule statements.

The other change is that we want to generate presentation MathML.

_Copied from original issue: KWARC/sTeX#

[2016-01-19 07:05] kohlhase opened #41 "sTeX light Tracker"
_From @kohlhase on July 22, 2015 7:36_

We want the sTeX bindings (```*.sty.ltxml```) with a light variant with which directly generates preloaded HTML5. For that we need to give every sTeX macro and environment a "light variant" that (ultimately) generates HTML5+RDFa instead of OMDoc. This is the format that MMT also generates from OMDoc, and on which JOBAD operates, so that the results of sTeX l

[2016-01-19 07:05] kohlhase commented on #41
We should start with ```statements.sty.ltxml``` as an example on another branch.

[2016-01-19 07:05] kohlhase commented on #41
_From @angerhang on August 6, 2015 14:13_

So the approach that I am implementing right now is using `stex@omdoc` in all the packages that have sTeX specific primitives, macros and constructors...

When we pass the `stex@omdoc` option to sTeX, `omdoc.cls.ltxml` also passes this option to the relevant packages in order to produce the desired HTML.

As @kohlhase mentioned before, the current solutio

[2016-01-19 07:05] kohlhase commented on #41
_From @angerhang on September 21, 2015 13:11_

I think this ticket along with #113 can be closed now due to the change of HTML generation.

#134 can be served as a general purpose issue tracker.

[2016-01-19 07:05] kohlhase opened #42 "multilinguality in sTeX"
_From @kohlhase on February 13, 2015 9:48_

```statements.sty``` and friends generate Math Keywords, e.g. the cue "Definition" for ```{definition}``` environments. I have already introduced a level of indirection that allows the keywords to be overdefined (almost?) everywhere. You can just do
[code]
in a document, and get the variants. But there should be a set of "defaults" per language (they nee

[2016-01-19 07:05] kohlhase commented on #42
I think I solved the problem on the LaTeX side, now we need to do the LaTeXML side. @angerhang we should discuss this.

[2016-01-19 07:05] kohlhase commented on #42
This is something that needs to be solved in the contextability/late binding discussion. Nothing for @angerhang really.

[2016-01-19 07:06] kohlhase opened #43 "implement \vardef"
_From @kohlhase on October 31, 2014 9:7_

I have added the ```\vardef``` macro to the  ```modules``` package. It is motivated and described in https://github.com/KWARC/sTeX/blob/master/sty/modules/modules.pdf?raw=true Section 2.4. The idea is that ```\vardef{nam}...``` acts just like ```\symdef[local]{nam}...``` (see #34), deposits a notation definition there and then, and defines a semantic varia

[2016-01-19 07:06] kohlhase commented on #43
For the moment I have committed a temporal hack which makes ```\vardef``` equal to ```\symdef```, at least that allows us to use ```\vardef``` for the moment (as local symbols; which are not really local; let's see what this messes up).

[2016-01-19 07:06] kohlhase opened #44 "implement local key for \symdef"
_From @kohlhase on October 31, 2014 8:56_

The ```\symdef``` macro has had the ```local``` key that made the semantic macro local to the current group by not exporting it from the module. This has never been used much, so it has never been implemented in LaTeXML. But now it is part of the ```\vardef``` concept (see #35), which is very important for SMGloM, so we should implement it.
I do not think

[2016-01-19 07:06] kohlhase opened #45 "implement precedences for \napp* and \anapp* in cmath.sty.ltxml"
_From @kohlhase on October 15, 2014 20:37_

I have (relatively) new macros in ```cmath.sty.ltxml```. They all have precedence keys, which need to be implemented (but are not).

But I guess that before that can be implemented, I need to get clear on what this means anyways. It seems to me that we want to have a new base case for the presentation, where something like
[code]
that should be presented

[2016-01-19 07:06] kohlhase commented on #45
\vardef alleviates some of this, so removing the priority

[2016-01-19 07:06] kohlhase opened #46 "selecting the ltxml+omdoc.rnc schema in html mode"
_From @kohlhase on August 23, 2014 10:1_

@dginev please comment.

In the new approach described in #20 there is still a problem to be solved: If we want to generate OMDoc, we need set the schema ```omdoc+ltxml.rnc```  and if want to generate html, then we need ```ltxml+omdoc.rnc```. Actually (re)-setting the schema is no problem using ```RelaxNGSchema```, but we need to do it selectivelly, and I

[2016-01-19 07:06] kohlhase commented on #46
_From @angerhang on August 24, 2015 13:47_

Based on the new HTML mode design, I would suggest a different approach, because we are no longer using the utility binding, but rather extending the existing bindings in `*.cls/sty.ltxml`s.

Given a document with the preamble similar to the following:
[code]
we can imagine sTeX by default being set as non-HTML mode and being switched to produce HTML whe

[2016-01-19 07:06] kohlhase opened #47 "parallel markup for modules"
_From @kohlhase on August 23, 2014 8:31_

We need to generate parallel MathML where the content
part is just as the OpenMath we are generating now, and the presentation
MathML is what we would generate normally (for html). I think that in
OMDoc2, this is the format I would prefer in any case. Note that the
content MathML can still be re-styled by the presentation process, but
does not necessarily

[2016-01-19 07:06] kohlhase commented on #47
@dginev answers:
So you want LaTeXML to understand the OMDoc notations and use them
when applicable, during post-processing the XMath into MathML?  Hmmm...

[a short discussion with Mihnea later]

so, the above is equivalent to JOMDoc and the MMT rendering process,
which I don't want to reimplement. However, it also occurred to me
that the modules code already has all the presentation information

[2016-01-19 07:06] kohlhase commented on #47
the three-way conditional below isexactly correct. The only remaining question is what exactly to do in
the face of presentation Markup.

[2016-01-19 07:07] kohlhase opened #48 "allow selective sTeX packages to generate annotated html"
_From @kohlhase on August 8, 2014 2:13_

We should allow a variant of sTeX that generates annotated HTML5 not OMDoc as an intermediate step. That would make MathHub more appliccable. This is the tracker issue for the development.
* We should  make sure that it generates HTML that JOBAD and other MathHub services can work on.  For the MathHub issues see the MathHub issue at https://github.com/KWARC

[2016-01-19 07:07] kohlhase commented on #48
@dginev, I am starting to develop the additions in the new ```html``` branch of sTeX, and I am spinning off individual issues (currently #21 and #22).

[2016-01-19 07:07] kohlhase commented on #48
I have changed my attack vector. I am now using a schema ```ltxml+omdoc.rnc```, which can acomodate the OMDoc elements directly in the LTXML generated by LaTeXML. And then I use a stylesheet ```htmlpost.xsl``` which includes LaTeXML's html stylesheet ```LaTeXML-all-xhtml.xsl``` and adds html transforms for the OMDoc elements. I have a first version of this working on my ```html``` branch (see http

[2016-01-19 07:24] kohlhase opened #49 "make a README.md"
we need one, also reference sTeX repos.

[2016-01-19 08:18] #49 closed

[2016-01-19 08:23] kohlhase opened #50 "move all the sTeX light stuff into LaTeXML-Plugin-sTeX-experimental"
We should move all the html... stuff into the sTeX experimental plugin together with htmltest subdir form the sTeX distribution.

[2016-01-19 09:49] kohlhase commented on #8
I made a plugin KWARC/LaTeXML-Plugin-KWARC for them. You should use that as well in the travis tests.

[2016-01-19 09:53] cmaeder commented on #8
I've used LaTeXML-Plugin-KWARC, but maybe it was an older version. I'll rerun the test.

[2016-01-19 09:55] kohlhase commented on #8
I have also moved subdirs around (but tried to fix things in the travis files. Please check that as well.

[2016-01-19 11:23] cmaeder commented on #8
The current test https://travis-ci.org/KWARC/localmh/builds/103312245 fails now with many

[code]

[2016-01-19 15:38] kohlhase commented on #8
hmmm, It seems that it is compiling the ```lib``` subdir for some reason, that should not be the case. It chokes  on ```post.tex``` there (not surprising).

[2016-01-19 15:47] cmaeder commented on #8
I believe, it is not traversing the `lib` subdir but it only takes `lib/post.tex` as postamble.

[2016-01-19 15:49] kohlhase commented on #8
I tried running lmh omdoc locally, and I am not getting errors.

[2016-01-19 15:51] cmaeder commented on #8
The errors occur for brucemiller/LaTeXML

[2016-01-19 15:53] kohlhase commented on #8
Oh, but that was never expected to work, can you please switch back to the KWARC branch?

[2016-01-19 15:53] cmaeder commented on #8
Am I on the wrong issue here? Maybe it should be #13

[2016-01-19 15:54] kohlhase commented on #8
No, but the integration needs to be planned out by Deyan and Bruce, just testing is not going to work. It is a long-term thing.

[2016-01-19 15:57] cmaeder commented on #8
the localmh master was fine 24 hours ago (and I'm just rebuilding it). The above errors occurred for my localmh brucemiller_latexml branch.

[2016-01-19 16:00] kohlhase commented on #8
thanks for the clarification. I do not think that there is anything you can help here. We should just delete the branch from travis

[2016-01-19 16:03] cmaeder commented on #8
right, the localmh diff is pretty trivial

[code]

[2016-01-19 16:34] kohlhase opened #51 "how to integrate model making into Makefile?"
I set up the RelaxNG schema with a Makefile, I am currently thinking of running that manually and committing ```omdoc+ltxml.model```, can that be integrated into the Make process somehow? I still do not understand ```Makefile.PL```

[2016-01-19 16:40] kohlhase commented on #4
done modulo #51

[2016-01-19 16:40] #4 closed

[2016-01-19 18:06] brucemiller commented on #16
Not sure if there are still LaTeXML issues here, but SemiVerbatim is likely what you want.
(TeXFileName is for TeX's \input, not LaTeX's \input).  SemiVerbatim doesn't neutralize backslash, so there are still CS's in it, and it still can be expanded. However, if you're using it in a macro or primitive, you may have to expand it explicitly yourself.

[2016-01-20 17:33] kohlhase opened #52 "Statements with \guse get 2 CMPs"
_From @m-iancu on January 20, 2016 17:26_

The assertion
[code]
from  `ODK/lmfdb/source/endomorphism-ring.en.tex` produces in the omdoc two `CMP` elements the first of which is empty. It might have somthing to do with the `\guse` command. The generated result is below:
[code]
 This confuses the stex-importer which ends up using the first (empty) CMP and therefore ignore the actual content.

_Copie

[2016-01-20 17:34] kohlhase commented on #52
Interesting, I will have a look. @angerhang, could you also have a look? This is quite urgent.

[2016-01-21 07:00] kohlhase commented on #52
this looks like a schema problem to me.

[2016-01-21 09:57] kohlhase commented on #52
I have fixed this for assertions, still have to test for definitions though, I am a bit skeptical there.

[2016-01-21 10:04] kohlhase commented on #52
Indeed this still fails for definitions. The Problem is in line 168 of ```statements.sty.ltxml```:
[code]
this unconditionally opens the ```omdoc:CMP``` element which leads to the spurious first (empty) ```omdoc:CMP``` before the ```omdoc:use``` element. I think that this could be changed by using
[code]
but unfortunately, this does not seem to exist in LaTeXML, though ```maybeCloseElement``` does

[2016-01-21 15:01] #52 closed

[2016-02-04 11:04] kohlhase opened #53 "for attribute for n-th (n>1) definition wrong"
The ```for``` attribute of a ```definition``` element should reference all the symbols defined in this definition (and only these). They should be generated by the ```\defi*``` (and friends) in the definition body.

Unfortunately, the sTeX plugin generates these wrong, for second and later definitions it also includes the symbols from the previous definitions. For instance in ```graphs/source/grap

[2016-02-04 11:09] cmaeder commented on #53
see #25 for other `for`-attribute problems. Is ` --expire=-1` a workaround?

[2016-02-04 11:12] kohlhase commented on #53
Ah, interesting thanks for making the connection.

[2016-02-04 11:16] kohlhase commented on #25
Good that @cmaeder made the connection. While I did see this as a possibly minor problem, it does cause nasty user-visible problems: in the glossary the ```for``` attributes are used to determine the contents of the glossary items, and this leads to a garbled glossary. cc: @m-iancu

[2016-02-04 11:25] kohlhase commented on #53
I doubt that ```--expire``` helps, since in this example it is all in one file. It seems that this is a problem in the ```definitionbody``` sub in ```statements.sty.ltxml```, the symbols are computed incorrectly: I suspect in the line 139.
[code]
which is set in line 185?
[code]
and in a couple of other place, we find ```\@symbols```, but I do not understand where this comes from.
maybe this is so

[2016-02-04 11:28] kohlhase commented on #53
But of course @angerhang you should also look at this as well.

[2016-02-04 16:52] kohlhase commented on #53
@dginev, if you have ```LaTeXML-Plugin-sTeX``` installed, and ```smglom/graphs``` checked out, then
[code]
will reproduce the problem

[2016-02-04 17:17] kohlhase commented on #53
oh, and you would probably need the following file ```localpaths.tex``` (suitably localized)
[code]

[2016-02-04 18:24] angerhang opened #54 "Missing packages for fresh plugin installation"
For a fresh sTeX plugin installation, there are five packages that seem to be missing

[code]
which we should think of a way for distribution either let them be part of the plugin or distribute them separately as @dginev mentioned in #6 .

[2016-02-04 19:38] kohlhase commented on #54
These files are in https://github.com/KWARC/LaTeXML-Plugin-KWARC, This should be installed by ```lmh setup --install``` (you may need to remove the ```localmh/ext``` directory first) modulo https://github.com/KWARC/localmh/issues/294

[2016-02-04 20:27] kohlhase commented on #54
closing, since this is just an installation/update glitch

[2016-02-04 20:27] #54 closed

[2016-02-04 20:32] angerhang commented on #54
Ok thanks for pointing that out.

[2016-02-04 22:40] angerhang commented on #54
Oh I understand now!

I thought we also wanted to do the development using the `LaTeXML-Plugin-sTeX` outside docker but we are still using the old workflow inside docker right?

Just one more question about testing the plugin, it seems to me that there are still two files missing after installed `LaTeXML-Plugin-KWARC`:
[code]

More concretely:
[code]
the raw TeX files are used here but cannot be f

[2016-02-04 22:43] kohlhase commented on #54
oh, interesting. They are part of sTeX: they are at ```.../sTeX/sty/etc```. You have to set your ```TEXINPUTS``` to use ```.../sTeX/sty//:...```.

[2016-02-04 22:56] angerhang commented on #54
Yes that's right.

We probably also want to update the texlive distribution while we do the cpan submission don't we?

[2016-02-05 02:27] kohlhase commented on #54
yes, we do, but that needs some more testing and documentation.

[2016-02-05 12:35] angerhang commented on #53
I also agree that the problem comes from definitionBody.

The problem, however, has to do with the `$for` value which contains the symbols from previous definitions. `$for` is later on added to the `$for_attr` in
[code]
`$for_attr` contain the symbols shown in the `for` attribute.

I don't know why we need this block of code from the first place. Whilst if we remove it, the problem can be solved.

[2016-02-05 14:12] kohlhase commented on #53
well, just try it out, then you will see whether you get the right result.

[2016-02-05 14:45] angerhang commented on #53
Yes I did try out and here is the output:
[code]

[code]

[2016-02-05 14:48] kohlhase commented on #53
hmm, that looks good. please commit, and we will run this over larger examples (i.e. the glossary @m-iancu)

[2016-02-05 14:56] angerhang commented on #53
I pushed it to the `for-fix` branch https://github.com/KWARC/LaTeXML-Plugin-sTeX/tree/for-fix

[2016-02-05 15:07] dginev commented on #53
The reason for that code block has been to record all defined symbols in a definition, as there can be multiple.

What I wonder from Michael's example is whether the \atrefi doesn't add to the for attribute by accident.

[2016-02-05 15:09] kohlhase commented on #53
do you mean ```\atrefi``` or ```\adefi```? the ```\*trefi*``` should not add anything to the for attributes at all, only the ```\*defi*````.

[2016-02-06 17:32] angerhang commented on #16
When I was testing this I found the `mathhub-mh.sty.ltxml` is missing from the plugin.

https://github.com/KWARC/LaTeXML-Plugin-sTeX/tree/master/lib/LaTeXML/Package
Was it done on purpose?

[2016-02-06 17:46] kohlhase commented on #16
no, certainly not, I wonder where it went, and why things still work for me.

[2016-02-06 20:03] kohlhase commented on #16
I do not think that this file ever existed, where have you seen it referenced?

[2016-02-06 20:14] angerhang commented on #16
My bad. I was trying look into why https://github.com/KWARC/sTeX/pull/204/files 's changes into master were missing from the plugin.

I misread `modules-mh` with `mathhub-mh`.

[2016-02-06 20:37] angerhang commented on #16
After testing in ODK
[code]
The error is indeed gone, but we just have to change the argument types in the the regular module packages which we did not do e.g. modules.sty.ltxml.

[2016-02-06 21:14] kohlhase commented on #16
good, then just do that and commit.

[2016-02-06 21:19] kohlhase commented on #53
@angerhang please test it on ```smlgom/numberfields/source/ratarith.en.tex```, this has multiple definitions and is therefore a better test case. The For attributes should mention exactly the ```<term``` elements. I suspect that the branch will miss some now.

[2016-02-06 21:21] kohlhase commented on #53
unfortunately, I cannot, since for some reason latexml crashes for me without error messages.

[2016-02-06 22:15] angerhang commented on #53
[code]

The output seems to be correct to me.

[2016-02-06 22:26] kohlhase commented on #53
indeed, that looks good. I have just pushed a change to ```ratarith.en.tex```, could you try again?
I have added a ```[for=addition]``` on the first definition. This should show up as ```for="ratarith?addition"``` in the XML. If that is the case, please merge the branch and close the issue.

[2016-02-06 22:29] angerhang commented on #16
Just pushed it to the underscore branch.

[2016-02-06 22:29] kohlhase commented on #16
does this mean the master branch?

[2016-02-06 22:30] kohlhase commented on #16
I think you should just commit to master.

[2016-02-06 22:32] angerhang commented on #53
It comes out as
[code]

[2016-02-06 22:33] kohlhase commented on #53
hmmm, I guess that is good enough for now.

[2016-02-06 22:33] #53 closed

[2016-02-06 22:42] angerhang commented on #16
I just wanted the travis tests to pass in case I messed something again : _
Both pull requests are passed and merged to the master .

[2016-02-06 22:42] #16 closed

[2016-02-10 21:16] #50 closed

[2016-02-10 21:53] angerhang commented on #41
Currently all html stuff has been moved to LaTeXML-Plugin-sTeX-experimental. I also copied over the LaTeXML stylesheet as `htmlpost.xsl` needs them to the proper conversion. Also for sTeX-experimental, I added a test Makefile just to make it easier to change the proper command options.

First, we will need to finish the move over to CMML from Openmath which hasn't been worked on for a while.

Afte

[2016-02-12 11:34] angerhang commented on #35
This should be fixed.

I think in the original Makefile setup you forgot to include `--pmml` as the option which leads to a pure cmml rendering.

@kohlhase can you take a look at the newly generally test case [output](https://github.com/KWARC/LaTeXML-Plugin-sTeX/blob/content_mathml/prototests/cmml/test.tomodc) to see if that is what's wanted?

[2016-02-13 06:57] kohlhase commented on #52
@angerhang Bruce Miller made a suggestion in https://github.com/brucemiller/LaTeXML/issues/708 could you have a look whether this works?

[2016-02-13 10:43] angerhang commented on #52
It seems to work. Changes are made in [cmp-fix branch](https://github.com/KWARC/LaTeXML-Plugin-sTeX/commit/556f97096dc1fee14cb334e4d8c7b23faaef5d03)

Given:
[code]
We get
[code]

[2016-02-13 10:47] kohlhase commented on #52
good, please merge that.

[2016-02-13 13:08] angerhang commented on #12
`omdocpost.xsl` is found by by latexmlc. If we try to preload something that doesn't exist, it will throw a file not found error:
[code]

The interesting bit is that if we only include the sTeX specific stysheet and throw away all of these
[code]
we can run successfully without the segmentation fault.

Perhaps these stysheet are already preloaded when `latexmlc` starts? @dginev can comment on this

[2016-02-13 14:18] kohlhase commented on #35
Actually it is not. In the ```<omdoc:rendering>``` element in the notation definitions, and the ```<m:math>``` elements in the definition text there should only be content MathML. Currntly, there is parallel markup (i.e. ```<m:semantics>``` with cross-referenced presentation and content MathML. So the presentation mathml must be eliminated together with the ```<m:semantics>``` element. But be care

[2016-02-15 08:33] kohlhase commented on #12
No, this sounds like a catalog error, I have the feeling that it does not find the LaTeXML stylesheets. @dginev, do you have an idea?

[2016-02-15 09:24] angerhang commented on #15
From my side, this does not cause a error @kohlhase can you try again?
[code]

[2016-02-15 13:47] angerhang commented on #37
It is indeed a timing issue.

Using the `inline-fix` branch. I think `symbol` element is being inserted correctly now, unless I am mistaken. You can see the place of insert at https://github.com/KWARC/LaTeXML-Plugin-sTeX/commit/5566e660dea07411960d6cc1d46f8367eb4d77e1.

We now have
[code]

[code]
Run without problem although the segmentation fault still remains.

[2016-02-15 13:49] kohlhase commented on #37
looks good, please merge

[2016-02-16 09:11] cmaeder opened #61 "babel Error for .de.tex files (mmt.ldf missing)"
In `smglom/mv` I get the  follow error for the 5 `.de.tex` files:

[code]

I call it via

[code]

Some dependencies from `smglom/sets` are also compiled, so you may want to clean both directories first (using the option `--clean`).

[2016-02-16 09:23] cmaeder commented on #61
The equivalent lmh-call is `lmh omdoc --depsFirst=0` (`0` amounts to "force" and `5` ignores any previous errors  and recompiles only if dependent files have changed.)

[2016-02-16 09:50] cmaeder commented on #61
The german files in `HelloWorld/smglom` produce a (maybe harmless) message:

[code]

[2016-02-18 01:04] angerhang commented on #20
I think this on longer applies.
[code]
[code]

[2016-02-18 05:46] kohlhase commented on #20
Oh, yes, it does not throw an error, I added back ```\lxDeclare```. BUT the real question is whether in a scope of ```functions=s``` the term ```s(x)``` is converted to
[code]
the "function interpretation" I want or
[code]
the wrong "times interpretation", as was when I made the issue, could you check?

[2016-02-18 19:39] angerhang commented on #20
Your hint is actually right. There is a sub `DeclareFunctions` in `statement.sty.lxml` which coverts the `functions=` option, but it was not called on `omtext` environment.
Now we get
[code]
via https://github.com/KWARC/LaTeXML-Plugin-sTeX/commit/83ba5473d70de0146a63975561d1bb14bcd4ee35

It is Unicode representation. Do we need the string representation or this is already what we want?

[2016-02-19 05:12] kohlhase commented on #20
Very good, the unicode is actually exactly what we want (math italic).

Michael

On 18/02/16 20:39, angerhang wrote:

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,
 Jacobs University Bremen           D-28759 Bremen, Germany
 tel/fax: +49 421 200-3140/-493140

[2016-02-19 07:42] kohlhase commented on #20
I guess this is ready for merging then.

[2016-02-19 08:16] angerhang commented on #20
Good then. Already merged.

[2016-02-21 18:07] angerhang commented on #18
Do we still want to have `mrow` back if the schema has been adapted?

[2016-02-21 18:16] angerhang commented on #17
I went back to the old branch and found out the following command for `make mods`
[code]

LaTeXML does not throw an error.

@kohlhase do you think this issue still exists?

[2016-02-21 21:38] angerhang commented on #11
I added some test files via d186024ce04dd2f9e1ca39b7134d29228fa64ee5 along with the Makefiles which show commands I used. @kohlhase do you think we need more coverage? Or should we turn them into real tests already?

[2016-02-22 08:48] kohlhase commented on #18
I guess we are OK with this for now.

[2016-02-22 08:48] #18 closed

[2016-02-22 08:50] kohlhase commented on #17
the problem is not the error, but the garbled source ref. Can you please check.

[2016-02-22 08:52] kohlhase commented on #11
this is a very good first set of tests. The idea about these is that we will work on them continuously, whenever there is an error we fix, we write a test for it (as part of the debugging effort), which will then test whether this regression comes back.

[2016-02-22 08:53] kohlhase commented on #11
do these tests run automatically on ```make test```? and with ```cpanm```?

[2016-02-22 09:02] angerhang commented on #11
No I don't think they run with `make test` and `cpanm` yet.

But I can do this today.

[2016-02-22 09:02] kohlhase commented on #11
that was actually the main task of this issue :-).

[2016-02-22 10:25] cmaeder opened #63 "output provided stex theories"
write a line "provides: URI" into the log file (for pdflatex/xelatex and latexml)

[2016-02-22 10:27] kohlhase commented on #63
I guess with URI you mean the MMT URI.
And I guess that the best place to do that is during the ```\end{module}```, so that we only crow when we are really succesful.

[2016-02-22 10:33] cmaeder commented on #63
it is called `MPath` on my side.

[2016-02-22 10:34] cmaeder commented on #63
`MPath` is a `DPath` and a local name.

[2016-02-22 10:44] kohlhase commented on #63
can you give an example?

Michael

[2016-02-22 10:48] cmaeder commented on #63
MPath:  `http://cds.omdoc.org/examples?Bool`

[2016-02-22 10:52] cmaeder commented on #63
(`Bool` is the local name and the parent DPath is `http://cds.omdoc.org/examples`)

[2016-02-22 17:07] angerhang commented on #11
@dginev we probably need your help here.
Via 5814abd4fd6883caa321feddd35fd61a17bd2cfb, we have `t/*` integrated with `test_dynamic`.

I also introduced a new [test.pm](https://github.com/KWARC/LaTeXML-Plugin-sTeX/blob/testcase/lib/sTeXTest.pm) which does `make` in different submodules. However this leads to the change for command when invoking. We have to provide with the `-Ilib` option now.

Do y

[2016-02-22 17:17] dginev commented on #11
Makefile shouldn't be version-controlled, but auto-generated via "perl Makefile.PL" during the build step.

You shouldn't need the extra step, or the extra test.pm, looks like a hack to me.

Can't you simply borrow the setup I've arranged at say the MWS plugin? https://github.com/KWARC/LaTeXML-Plugin-MathWebSearch/

it has a sample test case as well.

[2016-02-22 17:25] angerhang commented on #11
Thanks for the hints. I will adapt changes based on what you have for MWS plugin then : )

[2016-02-24 05:47] kohlhase commented on #63
I made something, but it does not quite work, but I must say that I think that we do not need this for the pdf generation. Nothing will read the pdf and build on top of it. We really need this for the latexml side of things. I will make the respective ticket there.

[2016-02-24 05:50] kohlhase commented on #63
Ah, I was already here, and had thought I was on the pdf side, sorry. I am actually going to re-assign this to Hang, who can probably do this quite quickly. @angerhang could you pleae make this a priority? It should be simple to do.

[2016-02-25 06:46] kohlhase opened #64 "Couldn't create DB cache"
I get the error
[code]

@dginev, does this ring a bell?

[2016-02-25 06:55] dginev commented on #64
Do you have write permissions to that directory? Also do you have libdb installed?

The error is that latexml's post-processing is failing to create a cache DB

[2016-02-25 07:34] kohlhase commented on #64
Both dirs I have write permission.

I guess I should have libdb installed, since the error is only for some of the files in that directory; it seems to work for the others.

[2016-02-25 07:54] angerhang commented on #64
Strange I cannot reproduce
[code]
Did you switch back to the master branch after working on `LaTeXML-Plugin-sTeX` form yesterday?

[2016-02-25 07:55] kohlhase commented on #64
I was hoping that (then there is no general problem) and fearing that (then it is unlikely to be fixed for me)

[2016-02-25 07:55] kohlhase commented on #64
actually no, but this should not influence the error (I had seen that before).

[2016-02-25 09:16] angerhang commented on #63
Given
[code]

We get
[code]
via 5277c8f0bdbb98f9007ea547964cce8f476bbb7c.

[2016-02-25 09:23] kohlhase commented on #63
very nice, that is what we need (for the moment). The XMLbase stuff is less of a priority, so I will close this ticket and make a new one for XMLBase.

[2016-02-25 09:25] kohlhase opened #65 "rework/refactor/document XML Base"
The XML Base treatment is poorly documented (and may be poorly understood as well). It should be reworked and documented. When this is done, it should affect the provision notices in the log files as well (see #63)
cc: @dginev @cmaeder

[2016-02-25 09:37] angerhang commented on #63
I think I forgot to consider the situation where there are multiple `\importmodule`s.

In this case do we want to have a single `provides: URI` or do we want to have one `provides: URI` for every module imported?

[2016-02-25 09:39] kohlhase commented on #63
no, importmodule should not generate anything.

[2016-02-25 09:44] angerhang commented on #63
I meant `\importmhmodule`. It is still possible to have several of them in one single module.

[2016-02-25 09:44] kohlhase commented on #63
yes, but none of them should give any output at all.

[2016-02-25 09:47] cmaeder commented on #63
Assuming that the file `test.tex` also lives in `MiKoMH/GenCS/dmath/en` should the URI not be
`MiKoMH/GenCS/dmath/en/test?test` since `newTest` is only "used" to "provide" test?

(The literal string `URI:` was not supposed to be in the output but does not harm)

[2016-02-25 09:51] kohlhase commented on #63
Ah, now I understand the question about the importmodule, this is a misunderstanding
given ```\begin{module}[id=bar]``` in ```<path>/foo.tex```, the ```\end{module}``` should trigger output
[code]

[2016-02-25 09:51] kohlhase commented on #63
But when ```\importmodule...{baz}``` (and of course all derived macros) reads  a ```\begin/\end{module}``` it should do nothing.

[2016-02-25 09:52] kohlhase commented on #63
If you have questions, just come by my office.

[2016-02-26 02:15] angerhang commented on #63
Now we have
[code]

Which generates
[code]

via 788a21bac68f154e821113069dbf051bd3bc929c

[2016-02-26 05:09] kohlhase commented on #63
that is good. How about
[code]
where ```foo.tex``` has a suitable module. This should only give
[code]

[2016-02-26 08:32] angerhang commented on #63
Yes only one provides theory is generated.

[2016-02-26 09:12] cmaeder commented on #63
This looks good.  A further question to @kohlhase. What would be the actual (or a suitable) `MPath` URI? Maybe `https://mathhub.info/MiKoMH/GenCS/dmath/en/test?myTest`? (This uses `\baseURI` from `localpaths.tex`.)

@angerhang Create a pull request and merge it as soon as Michael (or some other reviewer) types :+1 (`:+1`) into it (and travis tests went through).

[2016-02-26 12:11] cmaeder commented on #63
looks fine for me :+1

[2016-02-29 00:41] angerhang commented on #17
Based on your error message, you had a garbled source ref for the first `symdef` right, however currently we get
[code]
which should be the correct `source ref`

[2016-02-29 23:37] angerhang commented on #35
I have run the `content-mathml` branch on a subset of both `GenCS` and `smglom` during which I didn't discern any errors that were triggers by content-mathml.

There looks like a good sign for merging the `content-mathml` into `master`. I didn't actually verify the generated omdoc however. That can be something that needs to check before we do the merging and that I need help for.

[2016-03-01 00:34] angerhang commented on #65
From the LaTeXML side, what I can tell is that `xml:base` is an attribute for `omdoc` document and it is provided by the `baseURL` macro in `localpaths.tex`.

What do we want to get out from reworking it?

[2016-03-01 06:39] kohlhase commented on #17
indeed, works for me as well. closing

[2016-03-01 06:39] #17 closed

[2016-03-01 06:46] kohlhase commented on #35
for verifying the MathML, we should do schema-verification with the OMDoc RelaxNG schema. That can be done with ```xmllint --validate``` (read the man page) and the OMDoc schema which is e.g. at ```sTeX/schema/rng/omdoc.rng```

[2016-03-01 06:49] kohlhase commented on #35
I made an MMT issue, https://github.com/KWARC/MMT/issues/115 to start testing in MMT. This is the real test we need to pass.

[2016-03-01 13:20] cmaeder commented on #35
sTeX/schema is gone. Is there another location for `omdoc.rng`?

[2016-03-01 14:21] kohlhase commented on #35
Ah, you are right, it is now under LaTeXML-Plugin-sTeX/lib/LaTeXML/resources/RelaxNG/omdoc.rng (or near that)

[2016-03-01 15:22] cmaeder commented on #35
I typed `make` in `/var/data/localmh/ext/LaTeXMLsTeX/lib/LaTeXML/resources/RelaxNG` that created `omdoc.rng`

My test in `HelloWorld/smglom` failed as follows:

[code]

[2016-03-01 16:49] kohlhase commented on #35
OK, I have to look at the generated grammar.

[2016-03-01 23:05] angerhang opened #67 "MMT environment"
On the LaTeXML side, we are using `mmt.sty.ltxml` for `mmt` environment which is loaded if we set the `mmt` option.  Via 216b9e75bcbd1ef056b2a711cfea30969542f611

we can get
[code]
from a module
[code]

We then can use the postprocessor exact the span of class 'ltx_text mmt' into `foo.smo`.

We can accomplish this in several ways:
1. Use XSLT 2.0 `result-document` which can directly generate multi

[2016-03-02 01:46] angerhang commented on #67
I just finished the `mmt.xsl` that can extract mmt stuff from `foo.omdoc`
[code]

[2016-03-05 23:33] angerhang commented on #67
In the `prototests/mmt` folder we can find several test files that simulate using MMT inside sTeX approach:

* `foo.tex` the MMT embedded sTeX
* `foo.smo` mixed omdoc after the initial LaTeXML transformation
* `foo.mso` should be MMT only after being transformed by `mmt.xsl`
* `foo.omdoc` generated using `mmtCleanUp.xsl` which gets rid of the embedded MMT elements

[2016-03-05 23:35] angerhang commented on #67
I have also included some other newly added features such as `\mmtr` and `\mmt` ...

@kohlhase what do you think of the current implementation and can you specify what we want for the new control sequences?

[2016-03-08 13:39] itoloaca opened #68 "\prefixa does not include the operator in the .omdoc"
The rendering below in omdoc should include the leastcommonmultiple operator ( <mo>lcm</mo> ) before the list of arguments.

localmh/MathHub/smglom/numberfields/source/leastcommonmultiple.tex
[code]

localmh/MathHub/smglom/numberfields/latexml/leastcommonmultiple.omdoc
[code]

[2016-03-08 14:06] dginev commented on #68
I've edited the highlighting here since I randomly stumbled on the issue - use the triple tick+language name to use the pretty highlighting, e.g.

[2016-03-08 14:24] itoloaca commented on #68
Sorry, it was my fault, I took omdocs generated by an old version apparently.

[2016-03-08 14:24] #68 closed

[2016-03-09 10:13] #63 closed

[2016-03-09 10:16] cmaeder opened #70 "latexml in numberfields hardly procudes omdoc files"
(pdflatex works fine)

[code]

[2016-03-09 10:19] cmaeder commented on #70
`smglom/mv/source/piecewise*.tex` also have this `module "set" leads to import cycle!` error

[code]

[2016-03-22 13:07] kohlhase opened #71 "\usemodule should not be counted in import cycle"
The main difference between ```\importmodule``` and ```\usemodule``` is that the symbols that come in via ```\usemodule``` are not re-exported. Therefore ```\usemodule``` plays no role in "import cycles".

BUT in the implementation in ```modules.sty.ltxml```, ```\usemodule``` and ```\importmodule``` are essentially the same (crucially they both use ```&importmoduleI```). I think that we need to ma

[2016-03-27 14:04] angerhang commented on #71
Actually `webbrowser` dependency comes from `browser-rendering-pipeline` which is used at `script` and `script` is imported from `dhtml-applications`

But I don't understand why `markup -> filetypes ->` shouldn't be in the cycle as we have
[code]
in `markup.sms ` and
[code]
in `html.sms`

[2016-03-27 15:13] kohlhase commented on #71
you are right about this.

[2016-03-27 15:18] kohlhase commented on #71
What confuses me about the error message that what looks like a cycle is actually a call tree, which is linearized to a cyclic sequence and -> is not the "imports" relation. What I would have expected to see is a "minimal cycle", which this is not.

I just meant to say that markup -> filetypes cannot be part of a minimal cycle, since filetypes does not import anything.
I think that a better error

[2016-03-27 15:28] kohlhase commented on #71
I have just written down the whole imports graph and verified that there is no cycle. It seems to me that the cycle recording mechanism is wrong; in particular, this may be independent of the ```\usemodule``` part. It seems that there is no ```\usemhmodule``` in the ```www``` directory.

[2016-03-27 17:57] angerhang commented on #71
I also I agree with what you said that there is no import cycle. It is the cycle recording mechanism that mistakenly thinks the two times html import makes up a cycle:

<img width="686" alt="screen shot 2016-03-27 at 7 54 02 pm" src="https://cloud.githubusercontent.com/assets/7655454/14066847/afaccc14-f455-11e5-9fe2-4884be45dcc2.png">

[2016-03-27 19:39] angerhang commented on #71
The actual cause of this is the ancestors array of `css` contains all the right subtree of `dhtml` such that
[code]
throws an error

[2016-03-27 20:21] angerhang commented on #71
An easy fix can be deleting the cycle detection which is already done via 48f7a2c74f242d94e3ae4c339d6b9692b7142b0c. This patch only imports the modules that have not be imported.

In this way we will never have a cyclic importing but won't be able to detect any cycle either. It would be fine if LaTeX would complain about cyclic importing. Need to confirm with @kohlhase .

The old cycle detection a

[2016-03-27 22:07] dginev commented on #71
I'm worried about ```%ancestors``` recording the wrong information for some bizarre reason. Rather than collecting a trace in ancestors, I would print the ```$module``` variable, as the call descends, together with a ```Dumper(%ancestors)```, to make sure the recorded hash is meaningful.

If the recursive descent is correct, there is no reason for a flat hash to be insufficient here, but it is cru

[2016-03-27 22:11] dginev commented on #71
Actually, this is probably the reason your trace is wrong - you are storing an array reference in ```$ancestors{___trace}```, so you end up effectively using a global trace variable for the descent into ```dhtml```, as passing an array reference by value just copies a pointer, and not the content.

The idea behind ```%ancestors``` is that it is a flat hash, copied by value, so that at any stage of

[2016-03-27 22:57] angerhang commented on #71
Deyan you are right about this. `%ancestors` is recoding the wrong information for some other reason.

It was because the recursive descent not being correct, I thought of an easy fix instead.

In fact the recursive descent is correct when it loads everything from the right subtree in the example above, the tricky bit is that when the search finishes the right subtree and goes to `CSS` as of a dep

[2016-03-28 05:16] kohlhase commented on #71
I am quite surprised that this only appears now. Was there any change in the code? I would have expected that if there are cycle detection problems, they would have surfaced long long ago.

[2016-03-28 07:51] angerhang commented on #71
Aha this rings a bell for me.

I think I did change this part of code some time ago. This is to blame. Didn't know this change would introduce such a regression error plus the provide theory is not using the `current_module` value anymore. We should probably change it back and I will add a test case about this as well.

https://github.com/KWARC/LaTeXML-Plugin-sTeX/commit/5277c8f0bdbb98f9007ea54796

[2016-03-29 11:09] kohlhase commented on #25
@angerhang could you check this?

[2016-03-29 11:09] kohlhase commented on #12
this seems mac-specific. Let's hope for the best.

[2016-03-29 13:04] dginev commented on #12
I would like to see the trace of the segfault. XSLT stylesheets should be completely safe to reload btw.

I would also need to check the versions of your libxml, libxslt, XML::LibXML and XML::LibXSLT

[2016-03-30 10:35] angerhang commented on #70
Yeah I think this is related to #71 . It should be fixed now.

@cmaeder can you check?

[2016-03-30 10:36] angerhang commented on #35
@kohlhase this is something that we should look as well  : )

[2016-03-30 10:36] #71 closed

[2016-03-30 10:36] #11 closed

[2016-03-30 10:42] cmaeder commented on #70
Yes, this is fixed now.

[2016-03-30 10:42] #70 closed

[2016-03-30 11:54] angerhang commented on #25
Yeah I think this has been resolved:
[code]

[2016-03-30 11:54] #25 closed

[2016-03-30 12:46] cmaeder commented on #25
Right, this problem is fixed. I've committed the current .omdoc test files  for `HelloWorld/smglom` with basically only changed text ranges. (https://gl.mathhub.info/HelloWorld/smglom/commit/2237e9fc6025a1f8069b0152454d93ea37b97a54)

The lmh-call is: `lmh omdoc --force --test --test-update`

[2016-03-30 14:15] cmaeder commented on #70
a single failure remained in `numberfields`:

[code]

[2016-04-03 23:00] angerhang commented on #26
Yes I confirm that this has been fixed, closing...

[2016-04-03 23:00] #26 closed

[2016-04-03 23:02] angerhang commented on #64
@kohlhase could you check on this ticket again?

I still cannot reproduce.

[2016-04-03 23:04] angerhang commented on #15
@kohlhase also on this ticket, could you check if the error still exists?

[2016-04-03 23:05] angerhang commented on #15
I still cannot reproduce.

[2016-04-05 07:05] kohlhase commented on #15
no longer reproducible

[2016-04-05 07:05] #15 closed

[2016-04-05 07:09] kohlhase commented on #64
this is still a problem when I run it locally on my mac, but I can run it fine in docker.

[2016-04-05 07:09] #64 closed

[2016-04-07 07:36] kohlhase opened #73 "upload the sTeX plugin to CPAN"
@dginev said

I think that we should make regular releases to CPAN, now that we have (some) tests. I am assigning this to Hang and hope that @dginev will supervise this.

[2016-04-07 07:41] kohlhase opened #74 "Make a meaningful and much more complete README.md"

[2016-04-07 07:42] kohlhase commented on #73
The CPAN installation should be documented in ```README.md``` (see #74)

[2016-04-07 16:18] kohlhase commented on #37
this does not work yet, on ```MathHub/MiKoMH/GenCS/latexml/encryption/en/public-key-encryption.tex``` I get
[code]

[2016-04-07 23:27] angerhang commented on #73
I just requested to register as a developer, but am wondering if we already have a developer account that manages the submission which we should use instead?

[2016-04-08 04:37] kohlhase commented on #73
I am sure Deyan has one, but you should have one as well.

[2016-04-08 07:20] kohlhase commented on #20
It seems that the error is back, on ```/MiKoMH/CompLog/source/pl1/en/pl1-semantics``` I get
[code]
and later
[code]
I suspect that the problem is that I have ```functions={\phi,f}``` in there. But changing it to ```functions={$\phi$,f}``` does not help either.

There are quite a few of these errors now.

[2016-04-08 07:29] dginev commented on #73
Btw CPAN makes it somewhat hard and clunky to transfer ownership, and once you have the namespace it is considered yours, so it may be wise to have the longest-term maintainer upload the plugin. I've never transfered ownership so far, but know it's possible.

[2016-04-08 07:30] kohlhase commented on #73
hmmm, then I guess that I should do that (or at least make an account in the KWARC name?)

[2016-04-08 08:07] angerhang commented on #73
Yeah that sounds better. Having a KWARC name CPAN account reduces future submission problems. After the registration being accepted, Michael can just pass the credential to whoever is doing the actual uploading (I guess it would be me for this time).

[2016-04-08 08:10] kohlhase commented on #73
so can you register KWARC?

[2016-04-08 08:23] angerhang commented on #73
Since

I probably will just put `Michael Kohlhase` as author name (they require a proper civic name) and `KWARC` as id then. This account can be used as the primary maintainer and if someone else needs to upload in the future, there is an option for the primary maintainer to add co-maintainers.

[2016-04-08 08:26] kohlhase commented on #73
good, then add yourself as a co-maintainer and work with your own account.

[2016-04-08 09:59] angerhang commented on #20
I think the primary cause is that `functions={a, b, ...}` in general doesn't work whenever we want to supply it with a list. Even `functions={a}` doesn't work. It only works for `functions=a`.

[2016-04-08 10:02] kohlhase commented on #20
ah, interesting. That should be relatively easy to fix no?

[2016-04-08 10:23] angerhang commented on #20
Actually I am not sure about the difficulty of fixing here. Pinging @dginev. it seems odd to me that when we have `functions={a, b, c}` the `functions` values are all empty:
[code]

Only when we have `functions=a` the `functions` keyval has a good value:
[code]

It might be the argument type `CommaList` not the right choice?
[code]

[2016-04-09 14:02] angerhang commented on #20
Ok I think this is an internal LaTeXML bug. I will report this and do a pull request on the LaTeXML upstream.

[2016-04-10 14:46] angerhang commented on #74
By this do you mean the documentation for how to do cpan release or for how to use `LaTeXML-Plugin-sTeX`?

[2016-04-10 15:01] angerhang commented on #73
I think we are almost ready to do a release in the `cpan` branch. Just need to finish the `readme.md`. We shall use the account that I created for Miko to do the first submission so that this account gets to be the primary developer so I will add other people to be the co-maintainers after the submission is accepted.

One thing that doesn't make sense to me is that the current version number for `

[2016-04-12 14:17] kohlhase commented on #73
I do not care about the version number too much. I would probably go for 0.9 and hope to get all the current issues ironed out and call it 1.0 then. This is based on sTeX 1.4.

[2016-04-12 14:24] kohlhase commented on #74
no, how to use it, how to install it, what it does, where to find documentation, ...

[2016-04-12 20:35] kohlhase commented on #20
can you apply this fix to the KWARC branch as well? i.e. make a pull request for deyan?

[2016-04-13 09:28] angerhang commented on #20
Sure

[2016-04-13 16:57] kohlhase commented on #20
@angerhang could you please try whether the merge fixes the problem? If so, I an rerun a lot of errors on MathHub.info.

[2016-04-13 16:57] kohlhase commented on #37
this seems to work

[2016-04-13 17:01] kohlhase opened #76 "rebase LaTeXMLsTeX on LaTeXML master"
@dginev suggests to just replace the KWARC branch in LaTeXMLsTeX with Bruce's master and see what breaks. @angerhang should do the experiment. Maybe breakage is not so bad.

[2016-04-13 17:32] dginev commented on #76
Back in my time at NIST we managed to reintegrate most of the major differences with the main repository (e.g. including the daemon and some of the high level classes).

The main remaining differences should be:
 - Locator information (in ```stex:srcref``` attributes) depends on a slightly modified locator syntax that we have added to the KWARC/LaTeXML fork. There may be an easy way to work around

[2016-04-13 17:47] angerhang commented on #20
Yes it fixes the problem. We should hopefully see much fewer errors after a rerun.

[2016-04-14 04:05] kohlhase commented on #76
@angerhang, this has priority now, the KWARC branch is no longer updated and becomes more and more obsolete. If you need to talk to me about this, just come by my office until 14:00 today.

[2016-04-14 04:06] kohlhase commented on #76
In particular, fixes like the one Bruce just did with OMATTR will not reach the KWARC branch.

[2016-04-15 05:22] kohlhase commented on #37
I have to reopen, there are a couple of cases where this is still a problem. E.g. ```MathHub/MiKoMH/GenCS/source/encryption/en/encryption.tex``` which has
[code]
I guess the ```column```s interfere here, maybe the code should look for ancestors?

[2016-04-15 05:26] kohlhase commented on #37
but maybe it is just the ```example``` environment? In ```MathHub/MiKoMH/GenCS/source/websearch/en/queries.tex``` I have
[code]
and it also gives an error.

[2016-04-15 05:29] kohlhase commented on #37
I seem to have fixed this myself.

[2016-04-15 06:31] kohlhase opened #77 "another weird import cycle"
on transforming ```MathHub/MiKoMH/CompLog/source/pl1/en/substitutions.tex``` I get the error
[code]
and certainly there is no cycle. In particular, argseq does not import union.

please have a look.

[2016-04-15 06:48] kohlhase commented on #37
actually, I have to reopen again, this time, ```MathHub/MiKoMH/GenCS/latexml/machines/en/build-RM-intro.tex``` is the culprit, it has two inlinedefs in the omtext at line 97. It gives the inlinedef error.
Please have a look (I cannot find the problem).

[2016-04-15 07:52] angerhang commented on #77
Can you try this in the docker to see if it still occurs?

I cannot reproduce even in the docker:
[code]

[2016-04-15 09:07] kohlhase commented on #77
indeed, it does not. I wonder what happened there.

[2016-04-15 09:07] #77 closed

[2016-04-15 09:36] angerhang commented on #37
In fact this doesn't result from two `inlinedef` in one line, but rather an `inlinedef` appears first in the `omtext` without any text in the front
[code]

The pull request should fix it, and I added some test cases as well.

One other remark is that when we have more than one `inlinedef` in a `omtext`, `axiom` and others, we run into `xml:id` validity issues as well  https://github.com/KWARC/LaTe

[2016-04-15 09:39] kohlhase commented on #37
I think that you should make the id problems a separate issue and close this one.

[2016-04-15 09:39] kohlhase commented on #37
especially, since #23 is closed.

[2016-04-15 11:14] angerhang commented on #37
Closing, but #23 is still open, I shall just make a comment in that issue.

[2016-04-15 11:14] #37 closed

[2016-04-15 11:15] angerhang commented on #23
For `\inliedef` if we have more than two `inlinedef`s in one `omtext` or `axiom` alike, we also get this error.

[2016-04-16 05:01] kohlhase opened #79 "integrate model make upon schema changes into Makefile"
If we change the RelaxNG schema under ```lib/LaTeX/resources/RelaxNG```, then we have to generate a new model ```omdoc+ltxml.model``` there. This is currently manually done via the ```Makefile``` there. That Make should be integrated in the general make mechanism. And I am not sure that it is, actually quite skeptical.

[2016-04-16 05:03] kohlhase commented on #51
oh, this is a partial duplicate of #79

[2016-04-16 05:08] kohlhase commented on #8
the discussion here has diverged, and we have the new #76 therefore I close this issue.

[2016-04-16 05:08] #8 closed

[2016-04-17 06:34] kohlhase opened #80 "allow display math in inlineass"
In ```MathHub/smglom/calculus/source/metric-induced-topology.tex``` we find
[code]
This leads to the error
[code]
Apparently this is due to the display math in the ```\inlineass```. This may be a schema problem. Maybe we should better make the contents to be ```plike.class``` and make an environment of ```\inlineass``` (but it works well in the PDF route). hmmm,

[2016-04-17 23:36] angerhang commented on #76
Both `LaTeXML-Plugin-sTeX` and `KWARC/LaTeXML` have a `sync` branch which we should use for integration purposes.

[2016-04-17 23:39] angerhang commented on #76
I did an orphan checkout for `LaTeXML` and cloned everything from Bruce's fork. The files we have in the `sync` branch are identical to the upstream. It is just the file modes are being changed. I hope that won't cause any problem in the future merging.

[2016-04-18 05:11] kohlhase commented on #76
I am not sure I understand this. Did you run any tests?

[2016-04-18 07:05] kohlhase commented on #74
well done, I reworked this a bit. closing.

[2016-04-18 07:05] #74 closed

[2016-04-18 07:14] kohlhase commented on #42
actually, there is nothing to be done here for the OMDoc workflow.
BUT for the new sTeX light, this needs to be thought of.

[2016-04-18 07:16] kohlhase commented on #34
this has been reinstated a while ago.

[2016-04-18 07:16] #34 closed

[2016-04-18 07:18] kohlhase commented on #20
this seems OK now, closing.

[2016-04-18 07:18] #20 closed

[2016-04-18 07:19] kohlhase commented on #14
not a priority at the moment.

[2016-04-18 07:19] #14 closed

[2016-04-18 07:49] kohlhase opened #82 "id error with two \inlinedef s"
In  ```MathHub/MiKoMH/GenCS/latexml/machines/en/build-RM-intro.tex``` we have to inlinedefs in the omtext at line 97. It gives and id error according to @angerhang in #23.

[2016-04-18 07:50] kohlhase commented on #23
I have separated out the inlinedefs error and am closing this one.

[2016-04-18 07:50] #23 closed

[2016-04-18 07:50] kohlhase commented on #67
is this still relevant?

[2016-04-18 08:25] kohlhase opened #83 "latexml postprocessing wrong path"
see https://github.com/KWARC/MMT/issues/146, We have a path problem.

[2016-04-18 08:26] kohlhase commented on #83
I wanted to keep the issue on MMT open, so cc: @tkw1536

[2016-04-18 08:43] kohlhase commented on #83
I see more clearly now. Somehow, an old version of the file stex-smglom-module.opt has been installed. Maybe that has something to do with @angerhang's new cpan method?

[2016-04-18 09:30] angerhang commented on #83
Yes you are right the plugin should allow us to not include the path and the correct path should really be
[code]

[2016-04-18 09:34] angerhang commented on #67
No I don't think so. I talked about this and actually got rid of the `mmtCleanUp.xsl`.
Closing...

[2016-04-18 09:34] #67 closed

[2016-04-18 09:47] angerhang commented on #83
Hmm there is probably something wrong with your setup. After `lmh setup --update`, docker seems to be loading the right profile
`(Loading profile /mounted/lmh/ext/perl5lib/lib/perl5/LaTeXML/resources/Profiles/stex-smglom-module.opt... )`
which has the right stylesheet
[code]
There are two things we can do:
* Check if in `LaTeXMLsTeX/lib/LaTeXML/resources/Profiles` if the right profiles are there.

[2016-04-18 09:48] angerhang commented on #83
I am not sure which old version of ` stex-smglom-module.opt` you are referring to, do you mean the one with `stylesheet = $STEXSTYDIR/../xsl/omdocpost.xsl` in place?

[2016-04-18 09:56] kohlhase commented on #83
yes, that. I am currently re-installing completely, and try to see what happens

[2016-04-18 09:59] kohlhase commented on #83
hmmmm, that made the problem go away. I wonder what it was, ... sorry for troubling you

[2016-04-18 09:59] #83 closed

[2016-04-19 08:15] kohlhase commented on #80
this is actually a much deeper problem of modeling, the easy solution here would be just make ```\inlineass``` content allow the block model. But that would disrupt the structure. We have to think about this in the OMDoc context. cc: @m-iancu

[2016-04-22 06:22] kohlhase opened #84 "add structuring sections to *.ltxml"
[modules.sty.ltxml](lib/LaTeXML/Package/modules.sty.ltxml)  has nice structural section headings
[code]
that are helpful for keeping order. We should have them in all ```*.ltxml``` files. Currently they do not even have blank lines (which should also be added), since they are extracted from the DTX files.

[2016-04-22 06:25] kohlhase commented on #84
Oh, it would be very good if the sections (the positive ones anyways) would correspond to the ones in the DTX files for sTeX.

[2016-04-25 14:16] m-iancu opened #87 "some smglom files have symbols declared twice"
For instance `intarith.tex` in `smglom/numberfields` produces duplicate symbols for `addition`, `multiplication`. It seems that each symdef generates one and the code in the `.tex` file is :
[code]

Then the resulting `.omdoc` contains:
[code]

[2016-04-25 14:18] kohlhase commented on #87
Indeed this is a bug (I think it may even be a regression). This looks like there is only one conditional that needs to be inserted or fixed. @angerhang this is not really a priority, but fix if easy.

[2016-04-25 14:26] kohlhase commented on #87
Looking at ```modules.sty.ltxml```, I see
[code]
It seems that ```and \@stex:nargs='$nargs'``` will prevent from finding any preceding siblings (as they ones in the examples have different number of arguments). Maybe just removing that will fix the problem. @angerhang please test.

[2016-04-25 20:10] angerhang commented on #87
I applied the changes that Miko suggested which seems reasonable to me.

Given
[code]
we obtain
[code]

The output doesn't contain duplicates of `addition`. If this also looks fine to you, I will just push this change to the remote.

[2016-04-25 20:11] angerhang commented on #84
Done, closing....

[2016-04-25 20:11] #84 closed

[2016-04-25 21:26] m-iancu commented on #87
From the MMT importer perspective this is good now. Should get rid of a lot of errors.

[2016-04-26 08:30] angerhang commented on #79
Done closing....

[2016-04-26 08:30] #79 closed

[2016-04-26 16:06] kohlhase opened #90 "fix stex:nargs or remove the stex:nargs attribute"
It is useful to have the number of arguments in the stex:nargs attributes. Given that a very common patterns is

\symdef[name=foo]{fooOp}{F}
\symdef{foo}[2]{#1\fooOp #2}

we will always give the symbol foo stex;nargs='0' I am not sure that anyone uses stex:nargs (@m-iancu, do you?) but I feel we should either leave out nargs completely or update it to be the maximum.
Probably the latter, thinking

[2016-04-27 09:43] angerhang commented on #87
This has been temporarily fixed but we are still left with the discussion on how to handle ` stex:nargs ` in #90 . Closing...

[2016-04-27 09:43] #87 closed

[2016-04-27 12:42] angerhang opened #91 "Document the use of *.opt"
In `lib/LaTeXML/resources/Profiles`, we have a bunch of profiles which we preload, however they are not poorly documented. More than a couple of times I have noticed either someone else or me is preloading the wrong profiles.

Need to discuss with @kohlhase to clarify some of the usage.

[2016-04-27 12:56] angerhang commented on #76
Yes Deyan is right. The `stex:srcref` yields different results. In `MathHub/smglom/mv/source`

For the original omdoc generated by the KWARC fork, we get
[code]

and for the upstream we get
[code]

What exactly do we want for the rebasing, do we want to keep the locator from the upstream or do something different?

[2016-04-27 15:49] angerhang opened #92 "piecewise notation swallows argument"
In ```.../MathHub/smglom/mv/source/piecewise.tex``` we have
[code]
which generates the notation definition
[code]
This is wrong, instead of ```<m:mtr/>``` it should be
[code]
there is also an error that seems to describe what is happening:
[code]

[2016-04-27 15:51] angerhang commented on #92
I am not even sure that the LaTeX is what it should be.
I am currently looking at using a more standard "associative argument" markup:
[code]
and that generates
[code]
which looks a bit better. But it does not work at all in the PDFLaTeX case, and there are quite a few schema errors in the LaTeXML case as well.

I have the feeling that this will be the more fruitful avenue.

[2016-04-28 05:36] kohlhase opened #93 "definition that starts with math leads to invalid result"
in ```MathHub/smglom/numthy/source/friendlytuple.tex``` we have
[code]
which leads to
[code]
Which is invalid OMDoc. And it does not even give an error message.

I think the problem is a schema problem: the OMDoc schema essentially for definitions is essentially  (see [omdocst.rnc](lib/LaTeXML/resources/RelaxNG/omdocst.rnc))
[code]
together with the fact that we are auto-opening CMP in the ```defi

[2016-04-28 05:43] kohlhase commented on #93
OK, I have reported the problem to Bruce as https://github.com/brucemiller/LaTeXML/issues/735

[2016-04-28 09:31] kohlhase opened #94 "rethink how we do operators in sTeX"
I am looking at the sTeX-generated presentation in the glossary at the moment, and one thing that springs to the eye is that some of the prefix notations have way too much space.

The cause of this seems to be that I have in many cases added a ```\mathop``` in \symdefs, so that the "operator" comes out as a ```<mo>```. Maybe I misunderstood the intention of <mo>, and put too much "semantics" into

[2016-04-28 11:07] kohlhase opened #95 "\text does not work any more"
in ```MathHub/smglom/sets/source/union.en.tex``` we have
[code]
note the ```\text``` inside math and math inside ```\text```.
This generates
[code]
note that the OMFOREIGN is inside the OMS, which is completely wrong. I guess this is a postprocessing error.

[2016-04-30 18:31] angerhang commented on #95
[code]

Interestingly this is what I got. `om:foreign` is not inside the OMS which is valid. Do you have the latest `LaTeXML` or did you run this outside docker?

[2016-05-01 08:56] kohlhase commented on #95
I probably ran this outside docker.

[2016-05-01 10:53] kohlhase commented on #95
Actually, I had to fix some other things as well

I have pushed some changes to LaTeXML (KWARC branch, but see https://github.com/brucemiller/LaTeXML/pull/740) and LaTeXMLsTeX that fix this issue for me. I also added functionality for definienda (unproblematic).

Could you please clean up any broken tests for me?

[2016-05-01 10:53] #95 closed

[2016-05-02 10:58] kohlhase opened #98 "latexml only works online"
I know that this is really a LaTeXML problem, it it annoys me when using LaTeXMLsTeX. When I try to use LaTeXML offline I get
[code]
I know that this has been discussed there and even though I do not remember what the eventual non-solution was (the idea is not to duplicate the def files in the LaTeXML distribution). It is still annoying.

How about just making a plugin with the most common def fil

[2016-05-03 06:40] kohlhase opened #99 "implementation of \defiendum leads to fatal error"
...
[code]
not terribly urgent (I have eliminated all occurrences from MathHub), but should be fixed at some point.

[2016-05-04 09:19] angerhang commented on #91
Done via https://github.com/KWARC/LaTeXML-Plugin-sTeX/pull/96, closing ....

[2016-05-04 09:19] #91 closed

[2016-05-09 13:19] cmaeder opened #102 "trang is not properly detected"
Whenever I run `lmh setup --update` I get the following error message:

[code]

`type trang` returns "trang ist /usr/bin/trang" on my machine. `type` is a bash builtin command (try `type type`). Maybe `which` should be used.

[2016-05-09 13:41] angerhang commented on #102
See there http://stackoverflow.com/questions/592620/check-if-a-program-exists-from-a-bash-script for a detailed discussion for why `which` should be avoided.

We have incorporated `trang` into our make install, however `trang` is not a hard prerequisite, and thus we throw out a non-blocking error message here. I am not entirely sure how things work in the docker, but it might just be `lmh setup --

[2016-05-09 13:41] #99 closed

[2016-05-09 13:51] cmaeder commented on #102
I wonder why I get `Can't exec "type":`. Probably because `type` is not a binary and not a perl builtin (only a shell builtin)!

[2016-05-09 14:06] cmaeder commented on #102
The easiest solution is to simply remove this non-working test.

[2016-05-09 14:12] cmaeder commented on #102
Also note that `bash type trang` yields "bash: type: No such file or directory". So perl's shell invocation may not work as expected.

[2016-05-09 15:16] angerhang commented on #102
Hmm I don't think we should remove this `trang` not found message though.

First the catcher only behaviors differently when we do an update in the docker.

Second we still want to have some kind of notifier to tell the users what is causing a potential make error during the installation, whenever they install this plugin locally, given `trang` is not installed.

[2016-05-09 15:18] angerhang commented on #102
If we really have to remove the error catcher, what would be the motivation behind this other than it rises `Can't exec "type":` in the docker?

[2016-05-10 07:27] cmaeder commented on #102
I'm simply saying either correct or remove the test in Makefile.PL (line 14: `type trang`) as it does not work under linux. I wonder why it works on MacOS (does it?).

[2016-05-10 07:28] kohlhase commented on #102
no it does not.
But you should keep in mind that ```Makefile.PL``` is generated

[2016-05-10 07:35] cmaeder commented on #102
really? from what? (it is committed)

[2016-05-10 19:04] angerhang commented on #102
It works in my VM too.

Are you sure this is not machine specific?
![screen shot 2016-05-10 at 9 03 01 pm](https://cloud.githubusercontent.com/assets/7655454/15158995/aa60d3ee-16f2-11e6-8b52-17b55460be0a.png)

[2016-05-11 07:38] cmaeder commented on #102
This works in the same way for me, it does not work from perl!
(perl seems to call "bash type trang" and that does not work.)

[2016-05-11 10:34] kohlhase opened #103 "deprecate viewsketch and mhviewsketch."
They should no longer be needed, I have deprecated them in sTeX.

[2016-05-11 13:16] cmaeder commented on #102
Although `which` is not recommended for the bash shell, I believe it is the best choice for perl (assuming that `which` is far more likely available than `trang`).

[2016-05-12 08:02] kohlhase opened #104 "implement gviewnl with only name and language"
In https://github.com/KWARC/sTeX/issues/222 we have re-designed the argument of *viewnl to only be name and language. This is implemented in the ```gviewnl``` branch of sTeX.
I have started implementing this for the sTeX plugin on the corresponding ```gviewnl``` branch, but we need to get ```view``` and  ```mhview``` to record the same things we recorded in https://github.com/KWARC/sTeX/issues/222

[2016-05-15 15:32] #103 closed

[2016-05-15 16:33] angerhang commented on #102
Yes yes you are right. @cmaeder

Just fix it. Thanks for the report : )

[2016-05-15 17:28] #102 closed

[2016-06-01 14:00] angerhang commented on #104
In https://github.com/KWARC/LaTeXML-Plugin-sTeX/blob/view/lib/LaTeXML/Package/smultiling-mh.sty.ltxml#L91, and various other places where we retrieve the loading information from the signature, we are using `\csuse` from the etoolbox package.

I think having an etoolbox package for `\csuse` and `\csdef` would do exactly what we want. `\csdef` will just do `AssignValue` whereas `\csuse` will simply

[2016-06-01 14:50] kohlhase commented on #104
Dear Hang,

you are still on campus? Can we meet today (until 18:30) or tomorrow
afternoon?

Michael

On 01/06/16 16:00, angerhang wrote:

--
----------------------------------------------------------------------
 Prof. Dr. Michael Kohlhase,        Office: Research 1, Room 168
 Professor of Computer Science  Campus Ring 1,
 Jacobs University Bremen           D-28759 Bremen, Germany
 tel/fax: +49 4

[2016-06-03 16:50] angerhang commented on #104
As a toy example,
[code]
LaTeXML complains about two unexpected control sequences
[code]
which results from the RawTeX implementation in `smultiling-mh` package
[code]
The first error occurs at the first else expression and the second error occurs at the last fi expression. I am not fluent in TeX, but just based on condition closure, this snippet should be working.

[2016-06-08 22:33] angerhang opened #107 "Sync branch differs in \bsetst"
in `mglom/sets/source/powerset.en.tex`, there is a snippet

[code]

which yields

[code]

with the KWARC branch
and

[code]

with the sync branch. What do we want to do with this?

[2016-06-08 22:56] angerhang opened #108 "Sync branch differs in \inset"
In `smglom/sets/source/union.en.tex` we have `$\inset{x}{B}$}}$`
which yields

[code]

in the KWARC branch
and

[code]

in the Bruce branch.

[2016-06-09 00:59] kohlhase commented on #107
both are wrong, since ```$\bsetst{S}S{\sseteq{S}{A}}$.``` is misused. But Bruce's branch is much worse. I will fix this and come back to you.

[2016-06-09 01:04] kohlhase commented on #108
actually, you have to see the whole construction, which is
[code]
which gives
[code]
on the KWARC branch. This is the correct version.
I remember that we made some changes in the OpenMath postprocessor in the KWARC branch to get this behavior. That may have to be ported to Bruce's branch. Can you check the differences?

[2016-06-10 05:01] kohlhase commented on #107
hmmm, there is an underlying error in the OMBIND (see #109)

[2016-06-10 05:23] kohlhase opened #109 "\symdef does not create viable OMBINDS."
@dginev, I am assigning this to @angerhang, but I suspect he will need your help.

In ```MathHub/smglom/set/source/set.tex``` we have
[code]
and that generates
[code]
which is exactly what we want (except that OpenMath does not allow multi-body OMBINDS, but we want to change that).
BUT, it does not generate the right semantic macro, which you can see in  ```MathHub/smglom/set/source/set.en.tex```

[2016-06-10 05:43] kohlhase commented on #109
If we solve this, I think we can also get a hold on #107

[2016-06-13 09:52] kohlhase opened #110 "trang not found in make process"
On Mac OS I get

[code]

but `trang` is installed in `/usr/local/bin/trang`.

[2016-06-29 15:47] angerhang commented on #110
The message you got comes from `type` which does not exist in the Debian distribution that we are using for `lmh_docker` so I added `which` to the checking as well. `which` does exist in Debian.

I think what we should really is to provide `trang` inside the docker image by default (see https://github.com/KWARC/localmh_docker/pull/29) because this checking mechanism won't have the access to the re

[2016-07-18 11:27] angerhang commented on #109
I wonder which branch you are using when generating the omdoc for `$\bsetst{v}{A}{B}$`, if we use the KWARC `master` we get:
[code]
when we use the the `sync` branch https://github.com/angerhang/LaTeXML up to date with Bruce's version, we get:
[code]
Neither of these looks similar to the wrong version you showed.

[2016-07-18 12:56] angerhang opened #113 "Sync branch differs in `powersetFN` symdef"
In `MathHub/smglom/sets/source/powerset.tex` we have `\symdef[name=powerset]{powersetFN}{\mathop{\mathcal{P}}}`
The KWARC branch yields

[code]

whereas the sync branch yields

[code]

[2017-07-08 09:24] kohlhase opened #114 "spurious omtext in frames"
When I generate OMDoc from e.g. in AI/source/propositional-reasoning/en/BNI-enum-principle.tex we get an OMDoc file from LaTeXML,
[code]
which is ill-formed.
The problem is that we get an `<omdoc:omtext>` after the `<omdoc:metadata>`, which should not be there. This is probably auto-generated because the `<omdoc:uses>` element is not allowed in `<omdoc:omgoup>`. Need to fix that and test.

cc: @tk

[2017-07-10 10:43] kohlhase opened #115 "Makefile does not make the models (and the compiler does not work)"
The main makefile should compile the schema,

unfortunately, this does not work at the moment:
[code]

[2017-07-10 10:44] kohlhase commented on #115
Tom, could you have a look at this? You are at the source.

[2017-07-10 10:47] kohlhase commented on #114
Indeed, the schema needed an extension, now I only need to be able to generate the model (see #115)

[2017-07-25 12:08] kohlhase opened #116 "cpanm install seems to miss trang"
I get
[code]
when I do a lmh setup --update all

[2017-08-01 05:37] kohlhase opened #117 "implement capitalized \defi* and \trefi"
I have introduced
* `\Defi`, `\Defii`, `\Defiii`, `\Defiv` and `\Defis`, `\Defiis`, `\Defiiis`, `\Defivs` that capitalize their content in `statements.sty`.
* analogously `\Mtrefi*` in `smultiling.dtx`
* analogously `\Indi*` in `omtext.dtx`.

They need to be implemented in LaTeXML as well.

[2017-08-01 05:50] kohlhase commented on #117
@tkw1536 if you show me how to capitalize in Perl, I can do that myself.

[2017-08-01 06:13] kohlhase opened #118 "rework sTeX implmentations to re-use more of the LaTeX implementation"
Currently the LaTeX implementation of sTeX has a lot of convenience macros that are purely abbreviative. The LaTeXML implementation redoes these natively (ie. with `DefConstructor`), and this creates a change management hassle (see e.g. #117). In particular, there is some (but not enough still) `RawTeX`ing going on.

I would rather do the implementation `xxs.sty.ltxml` for `xxx.sty`  the following

[2017-08-01 06:35] tkw1536 commented on #117
@kohlhase Note that I am not a perl expert, but a [quick google search](http://lmgtfy.com/?q=capitalize+string+in+perl) reveals multiple ways of doing it.

To capitalize a single word, you can use [ucfirst](https://perldoc.perl.org/functions/ucfirst.html):
[code]
To capitalize all words in a sentence, you can use:
[code]

[2017-08-03 17:26] brucemiller commented on #118
Actually, this sounds a lot like the New Improved Strategy for writing bindings: Leverage the existing TeX implementation as much as possible (to the extent the TeX source is available w/o introducing unwanted dependencies).

The basic idea is to start the binding ```foo.sty.ltxml``` with something like
[code]
(or Error or whatever).  Then you adapt by adding definitions  according as LaTeXML eith

[2018-05-18 09:47] #114 closed

[2018-05-18 09:50] kohlhase commented on #65
Actually, I think we should use the `namepsace` mechanism from MMT (there is an sTeX macro for that now). How this relates to XML Base I do not know yet. I guess we can leave the XML Base handling to MMT.

[2018-05-18 09:51] kohlhase opened #119 "Tracker: Tom's Summer 2018 at NIST"
I would like to make a plan for Tom's work from the vantage point of KWARC.

Generally I want to get the LaTeXML side of sTeX up to speed, so that we can use the considerable sTeX corpus for research on flexiformal maths and generate active documents for my teaching activities.

I see three large steps in this
1. port the sTeX plugin to LaTeXML master (see #76 #73)
2. get the testing facility work

[2018-12-04 07:03] kohlhase opened #124 "implement the new class= option on omdoc.cls"
This is new, and should call \LoadClass on the argument. See the documentation

[2019-09-11 12:43] kohlhase opened #126 "defhelper needs keyval argment"
in `lib/LaTeXML/Package/statements.sty.ltxml` line 507, the function `defhelper` still expects a string `foo` as first argument, but in the new sTeX gets `name=foo`. This needs to be changed.

BTW, please give me a `capitalize` function that capitalizes the first etter.
@Jazzpirate

[2019-09-18 09:53] kohlhase opened #128 "clean up branches."
we have 11 branches, which is ridiculous. Most of these are stale, but may have some useful work by Hang.
I will try to find out which ones are still useful and which are not.

[2019-11-05 17:45] Jazzpirate opened #131 "Weird bug with \guse in \inlineex"
Occurs in https://gl.mathhub.info/smglom/mv/blob/master/source/mv.en.tex#L6

This causes an `Error:malformed:ltx:text Attempt to close </ltx:text>, which isn't open`. The `ltx:txt` is opened (and closed) by `\inlineex`.

The problem is solved by putting the `\guse` command **in front of** the `\inlineex`. It's unclear to me whether this is malformed stex or a bug in the bindings, the latter look s

[2019-11-06 05:39] kohlhase commented on #131
That is not so weird, this is probably a schema error, that the result XML of \guse is not allowed in `<ltx:text>`, but outside, so it tries to auto-close. I will have to look at this, but do not have time at the moment.

[2019-11-06 05:39] kohlhase commented on #131
Oh, yes, and the `\guse` is exactly where it should be.

[2019-11-06 13:19] Jazzpirate opened #132 "expected behavior of vardef?"
https://gl.mathhub.info/smglom/algebra/blob/master/source/quotient-group.de.tex#L3 causes `malformed:omdoc:symbol <omdoc:symbol> isn't allowed in <omdoc:definition>`. The current binding for `\vardef` is
`######## temporal hack by MiKo; @DG,please remove after implementation.
Let('\vardef', '\symdef');`

so **should** \vardef (ultimately) be allowed in a definition? If so, should it yield somethin

[2019-11-07 05:51] kohlhase commented on #131
It turned out that the OMDoc schema forgot to allow the `<omdoc:use>` in the Inline Class. I have fixed this, and I hope that this will fix this issue as well. Please try again. You will need to build the schema.

[2019-11-07 06:13] kohlhase commented on #132
Hmm, this is really one of the unresolved OMDoc/sTeX language design issues, that needs to taken care of now to make progress. I will use this place of develop my thoughts.

**Background**:  I noticed in sTeX/SMGloM that I needed something like local symbols with complex notations in definitions. `\vardef` is just the user interface, since mathematicians (I believe) think of them as variables. And

[2019-11-07 14:08] Jazzpirate commented on #131
`Error:malformed:ltx:tags <ltx:tags> isn't allowed in <ltx:item>
	at mv.de.tex; line 5 col 15 - line 5 col 15`
...is that an issue with the xml scheme as well?

[2019-11-07 18:27] kohlhase commented on #131
sounds very much like it. I will have a look.

[2019-11-11 06:29] kohlhase commented on #131
Yes, turned out to be a schema error. Pushed a fix.

[2019-11-11 09:38] #131 closed

[2019-11-11 09:41] Jazzpirate opened #133 "Defi, Trefi and friends (capitalization)"
For `defi`, `defii`, `defis` etc. (and analogously for `trefi` variants) exist capitalized versions (`Defi`, `Defii`,...) that are supposed to capitalize the concept name (without capitalizing the *symbol*-name).

No LaTeXML bindings for those exist yet, and I have no idea how to implement their functionality. Ideally, this should be done without separate bindings for each variant, I guess.

[2019-11-11 09:45] kohlhase commented on #133
All these are variants of  `\defi` and `\trefi` are implemented using the `\definiendum` and `\termref`. They are syntactic sugar really. Ideally, we could just `RawTeX` the first macros and only rely on native implementations of the latter.
@tkw1536

[2019-11-11 13:26] Jazzpirate opened #134 "multiple defis in a definition"
...yields `Info:malformed:id Duplicated attribute xml:id`

Example: https://gl.mathhub.info/smglom/algebra/blob/master/source/quotient-group.de.tex
here, quotient-group is "defined" twice, since in german there are two common names for it (in line 10).

This seems to casuse the bindings to attempt to generate the same symbol with the same id twice. The relevant code is here: https://github.com/sla

[2019-11-11 13:27] kohlhase commented on #134
Actually, I think will not be able to do this only my own, but will need help from Deyan and/or Tom. But I have verified that Dennis' description seems to be a correct analysis of the problem.

[2019-11-12 14:46] Jazzpirate commented on #134
solved locally; will do a PR once all bugfixes are done

[2019-11-12 20:15] Jazzpirate opened #135 "\fassign The token T_CS[\fassign] is not defined."
...and in deed, it is not. It seems like `\fassign{f}{x}{t}` is supposed to be an assignment `f(x)\mapsto t`, and apparently that should yield an `<omdoc:definition>` node, but I don't know what the precise omdoc should look like.

[2019-11-14 09:11] kohlhase commented on #135
what did you do in the end?

[2019-11-14 14:49] Jazzpirate commented on #135
for me locally I just copied the one for vassign so I can hunt down more issues ;)

[2019-11-15 08:13] kohlhase commented on #128
I have done some work on this. most of the stale branches can probably just be deleded. I have done so for three now. I am updating them with master, so we can see what they give us.

The `mmt` branch seems to be old work on the stex-mmt-stex integration.

[2019-11-15 08:48] kohlhase commented on #128
There is still one branch called upstream-latexl, by @tkw1536 that needs looking at. Does it have anything worth keeping? If so, please merge in master (and possibly make a pull request).

[2019-11-16 18:29] tkw1536 commented on #128
I want to start looking at that branch early next week, in particular ensuring that the basic testcases work as intended with upstream LaTeXML before working on any of the new features.

[2019-11-25 06:03] kohlhase opened #139 "Index macros \index* \*twin* and \*atwin* are deprecated"
these need to be removed and instead the internal sTeX macros
```\omdoc@index*``` then we should be able to RawTeX the `\defi` and friends.

[2019-11-25 15:27] kohlhase opened #140 "presentation.sty.ltxml totally fails because CROSSREFOP handling LaTeXML postprocessing did not get moved from the KWARC branch."
Dennis and I just found a problem with (almost all constructors in) `presentation.sty.ltxml`.

**TLDR**: We need help in extending the sTeX plugin with postprocessing!

The symptom is that in the (presentation MathML) `renderin` in the `notation` definitions, the `\prefix` presentation operator generates (if I disable `omdocpost.xsl`):
[code]
in a nutshell, the problem is that
[code]
is post-proce

[2019-11-26 09:46] Jazzpirate commented on #140
Fixed locally by copying the experimental code from the KWARC fork of LaTeXML into my clone of brucemiller/LaTeXML. Seems to solve the problem for me, but not a long-term solution, obviously

[2019-11-26 09:47] kohlhase commented on #140
you should probably commit that to master anyway.

[2019-11-26 09:48] Jazzpirate commented on #134
fixed with db806707952b801edd2e1b4987b9747e8f3ad87c

[2019-11-26 09:48] #134 closed

[2019-11-26 10:05] Jazzpirate commented on #140
Done: e113ac5adf2dc4907e94416f4d97cdec71386002

[2019-11-26 10:05] #140 closed

[2019-11-26 10:16] kohlhase opened #141 "Better integration of MathML Postprocessing integration."
Dennis fixed #140 by including a patched file `Post/MathML.pm` into the sTeX plugin. It gets copied into the LaTeXML installation and overwrites the file `Post/MathML.pm` there.

This does the trick (until there are updates to the original MathML.pm), but is almost certainly not the right way of doing things.
@dginev, could you please advise how to do this correctly?

[2019-11-26 14:37] dginev commented on #141
To do things correctly:
 - Get the basic test suite to pass and keep the green passing badge on github at all times, also for pull requests
 - Back away from features that weren't properly migrated from the KWARC fork before the base sTeX builds solidify
 - Create a new fork of latexml if there is urgent need to patch core files, as using a fork is the programmatically correct way to patch a perl

[2019-11-26 18:38] kohlhase commented on #141
that is exactly the plan. But unfortunately, we are not there yet.

well this feature is direly neeeded.

Hmmm, you are right, that is better. We will do that.

OK, I see that gives a time frame and shows that we indeed need a KWARC fork again.

Thanks.

[2019-11-26 20:20] dginev commented on #141
I take no pleasure in revisiting the same point over and over again, but it's clearly _not_ the plan to get _some_ basic test setup working, and only then continue to develop against a "green badge" Travis safeguard.

The "wild west approach", as you describe it, may introduce a sufficient number of subtle regressions that the repository becomes impossible to recover back into a working state. Tha

[2019-11-27 09:59] Jazzpirate commented on #141
Regarding the tests:
1. We have a branch with a new test suite that might actually scale, because they use latexml's native test methods instead of doing a plain string comparison with the xml files:
https://github.com/slatex/LaTeXML-Plugin-sTeX/tree/newtests
core to that is a test method that Tom wrote:
https://github.com/slatex/LaTeXML-Plugin-sTeX/blob/newtests/lib/LaTeXML/Util/STeXTest.pm
Micha

[2019-11-30 00:54] dginev commented on #141
Good luck with your plans for development @Jazzpirate . They're not something I would have advised, which was the point I [tried to clarify](https://github.com/slatex/LaTeXML-Plugin-sTeX/issues/141#issuecomment-558801041). For me repository development should be halted until quality control is restored and enforced. As such, I can't really be of any direct help here. Always happy to restart a high

[2019-12-05 12:29] Jazzpirate opened #142 "General TODOs/Issues"
- [ ]  flexary notations, especially with \symvariant show discrepancies between the argument markers/names occuring in `<prototype>` and `<rendering>`, causing ambiguity and problems in the omdoc-importer
- [ ] smglom/sets/words.tex uses `\text{#1}` which causes errors. Not clear at what point (stex/latexml/tex-file) that needs fixing.
- [ ] In general, nested math environments (e.g. `$\text{$p$}

[2019-12-05 13:02] Jazzpirate commented on #142
on that note - `\text{$...$ and $...$}` occurs quite frequently and does not look very stex-y to me. I'm almost sure there's an and-operator somewhere in mv that should probably be used instead? ;)

[2019-12-10 05:31] kohlhase commented on #133
I believe that this is fixed on the `redefi` branch.

[2019-12-10 05:32] kohlhase commented on #126
I think that this is fixed on the `redefi` branch.

[2019-12-10 05:35] kohlhase commented on #118
I have actually started working on this on the `simplify` branch. The change is rather minor at the moment, and I will hold off from larger work until the tests are starting to work and we are safer  against regressions.

[2019-12-10 05:36] kohlhase commented on #117
fixed on `simplify branch`

[2019-12-10 05:36] #117 closed

[2019-12-10 05:37] kohlhase commented on #139
this is fixed now.

[2019-12-10 05:37] #139 closed

[2019-12-10 05:37] #133 closed

[2019-12-10 05:38] kohlhase commented on #128
I have done my part, re-assigning to @tkw1536

[2019-12-10 05:38] #126 closed

[2019-12-10 05:39] kohlhase commented on #119
I think that this is still valid for 1019/2020.

[2019-12-10 05:40] kohlhase commented on #115
I think this is fixed now.

[2019-12-10 05:40] #115 closed

[2019-12-10 05:41] kohlhase commented on #110
seems to be a duplicate of #116

[2019-12-10 05:41] #110 closed

[2019-12-10 05:41] #108 closed

[2019-12-10 05:41] kohlhase commented on #113
outdated

[2019-12-10 05:41] #113 closed

[2019-12-10 05:42] #107 closed

[2019-12-10 05:43] kohlhase commented on #76
this is done.

[2019-12-10 05:43] #76 closed

[2019-12-10 05:44] kohlhase commented on #41
@Jazzpirate has started working on this in ernest.

[2019-12-10 05:45] #24 closed

[2019-12-10 05:47] kohlhase commented on #12
I think this went away somehow.

[2019-12-10 05:47] #12 closed

[2019-12-12 04:45] kohlhase opened #144 "remove generated schema files."
We have committed the generated `*.rng` files for schema validation, even though they are easily generatable. They should probably go away.

[2019-12-12 08:55] Jazzpirate commented on #142
More issues:
- [ ]  `fromrepos` and `torepos` in `gviewnl` are apparently not properly passed down to `mhview`. The resulting omdoc contains no references to repositories: `<omdoc:view from="magma" to="natarith" type="example" xml:id="natp-magma.en">` (from smglom/algebra/natp-magma.en.tex). Apparently `mhview` only uses those to do an `\importMHmoduleI`, but they should probably be stored as attr

[2019-12-12 09:09] Jazzpirate commented on #142
- [ ] `\fassign` currently has only a dummy implementation

[2019-12-12 10:17] Jazzpirate commented on #142
- [ ] `gstructure` or `structureenv` does not resolve smglom-repository names; the optional argument seems to be packed (in the bindings for `structureenv`) in a "load" option, but fails to resolve properly and I'm not sure how the "load" thing works.
Example: smglom/linear-algebra/vectorspace.tex has `\begin{gstructure}[smglom/algebra]{group}{group}`, but the resulting omdoc is `<omdoc:structure

[2019-12-17 05:03] tkw1536 commented on #144
@kohlhase While we are at updating the schema process, we should also see about fixing all the warnings like ```Relax-NG parser error : xmlRelaxNG: include /root/latexml/lib/LaTeXML/resources/RelaxNG/LaTeXML.rng has a define Inline.class but not the included grammar```. I don't know 'rng's enough to fix those.

[2019-12-17 05:14] tkw1536 commented on #128
With #145 merged, I removed the 'newtests' and branches I felt directly responsible for. @Jazzpirate can we also delete the 'dennis' branch?

[2019-12-17 06:19] kohlhase commented on #144
I will have a look. could you tell me what part of the sytstem throws this error?

[2019-12-17 07:45] kohlhase commented on #128
I have rebased my branches ,and that seems to conclude the issue

[2019-12-17 07:50] kohlhase commented on #128
sorry, there is still Tom's `upstream-latexml` branch that needs looking at

[2019-12-17 15:07] tkw1536 commented on #128
That has been integrated indirectly into the new tests already. I simply forgot to delete it.

[2019-12-17 15:07] #128 closed

[2019-12-18 15:46] tkw1536 commented on #144
Just running the tests does, e.g. https://travis-ci.org/slatex/LaTeXML-Plugin-sTeX/jobs/626027943#L1218. It's somewhere during schema validation.

[2019-12-18 18:55] Jazzpirate opened #146 "mhmodnl fails without optional arguments"
In mhmodnl (https://github.com/slatex/LaTeXML-Plugin-sTeX/blob/master/lib/LaTeXML/Package/smultiling-mh.sty.ltxml#L62), `$keyval` is used to pass along the load path for the signature tex-file - iff `$keyval` is defined, i.e. any optional arguments have been explicitly given in the `\begin{mhmodnl}`.

Usually it has a `[creator=`-argument, but whenever it doesn't, the signature file isn't loaded a

[2020-04-29 04:51] kohlhase opened #147 "deprecating \mtrefi*"
I realized that `\mtrefi*` is unnecessary; the functionality can be taken over by `\trefi*`, if we only allow `\mtrefi`-like treatment of the first argument. Concretely,
* `\mtrefi` is now deprecated (that should become a warning).
* `\trefi*` and `\Trefi*` should behave like `\mtrefi*` did. In particular, no more warning about `?` in the first argument.
* I have eliminated all `\mtrefi*` from `Ma

[2020-04-29 05:18] kohlhase commented on #147
If we (as we should) switch to reading `statements.sty`, then implementing `\termref` correctly should do the trick with no more implementation needed.